.mainFooter {
    background-color: black;
    background-image: radial-gradient(farthest-corner at 40px 40px, rgba(0, 0, 0, 1) 0%, rgba(0, 8, 19, 1) 100%);
    // background: url("http://res.cloudinary.com/sammiestarks/image/upload/v1512463581/mainHeader_mfyfvq.jpg");
    padding-bottom: 2em;
    padding-top: 2em;
}

.footerContents {
    // font-family: "Dosis", sans-serif;
    // color: rgba(253, 253, 243, 1);
    font-weight: 400;
    font-size: 14px;
}

.footerContents {
    padding: 3em 0 0.5em 0;
    img {
        margin: 0;
    }
    h4 {
        font-family: "Dosis", sans-serif;
        font-weight: 600;
        font-size: 150%;
        color: white;
        font-stretch: extra-expanded;
    }
    a.nav-link,
    p {
        font-family: "Nunito", sans-serif;
        color: rgb(138, 191, 211);
        font-weight: 300;
        background-color: transparent;
        font-stretch: extra-expanded;
    }
    a.subscribe {
        color: red;
        font-weight: 600;
    }
    a:link {
        // color: rgba(113, 153, 193, 1);
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        color: darkred;
        text-decoration: underline;
    }
    a:active {
        text-decoration: underline;
    }
}