<div class="base-main">
    <div class="tvPge">
        <div class="box">
            <div class="row tvContent mt-1 ">
                <div class="col-md-9 ml-md-1">
                    <h4 class=" mt-4">
                        TV
                    </h4>
                </div>
            </div>

            <div class="row ml-md-1 tvC">
                <div class="col-md-10 col-sm-12 col-xs-10 home-components-layout">
                    <div class="" style="">
                        <vg-player (onPlayerReady)="onPlayerReady($event)">
                            <vg-buffering></vg-buffering>
                            <vg-controls>
                                <vg-play-pause></vg-play-pause>
                                <vg-playback-button></vg-playback-button>
                                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                </vg-scrub-bar>
                                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                                <vg-mute></vg-mute>
                                <vg-volume></vg-volume>
                                <vg-fullscreen></vg-fullscreen>
                            </vg-controls>
                            <video #media [vgMedia]="media" [src]="currentItem.src" id="singleVideo" preload="auto" crossorigin>
                        </video>
                        </vg-player>
                    </div>
                </div>
                <div class="col-md-2 playList col-sm-12 col-xs-2">
                    <ul>
                        <li class="hoverable" *ngFor="let item of playlist; let $index = index" (click)="onClickPlaylistItem(item, $index)" [class.selected]="item === currentItem">
                            {{ item.title }}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<app-movies></app-movies>
<app-tv-series></app-tv-series>
<app-interviews></app-interviews>