<div style="background-image: url(http://res.cloudinary.com/sammiestarks/image/upload/v1515062037/nigerian-artist-poster_nzraba.jpg);  height: 400px; width: 100%; margin: 0; padding: 0; color: white">
    <div class="container">
        <div class="search-container mt-md-1">
            <div class="container">
                <div class="row mx-auto search-box">
                    <div class="col-md-2 search-tag" style="margin-top:0.2em;"><a href="" style="color:white; ">SEARCH</a> </div>
                    <div class="col-md-10 ">
                        <form style="margin-left:-2em;" class="form-inline  waves-light" mdbRippleRadius>
                            <input class="form-control col-sm-8  col-lg-12" type="text" placeholder="Search for specific songs ">
                            <i class="fa fa-search col-sm-1 " aria-hidden="true"></i>
                        </form>
                    </div>

                </div>





            </div>

        </div>
        <h1 class="headers">View All Songs</h1>
    </div>
</div>

<!--Card Light-->
<div class="container">
    <div class="row">
        <div class="col-lg-9">

        </div>
        <div class="container">
            <div class="col-md-3 main-socials mt-3 float-right col-sm-12 col-xs-12">
                <span style="font-weight:600;">
                              FOLLOW US:
                            </span>
                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

                <!--Instagram-->
                <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

                <!--Instagram-->
                <a class="icons-sm ins-ic"><i class="fa fa-youtube"></i></a>

            </div>
        </div>


    </div>

    <div class="row  mt-md-3">
        <div class="col-md-9">
            <div class="row main-news-row">
                <div class="col-lg-12" style="background-color: #2E2E2E; color: white; text-decoration: none; border: solid; border-color: black; padding: 5px;">
                    <ul class="nav">
                        <li class="nav-item">
                            <p class="nav-link" href="#">Found 1,608 songs in total</p>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group" dropdown>
                                <button dropdownToggle class="btn btn-dark dropdown-toggle waves-light" type="button" mdbRippleRadius>
                                  Sort By
                              </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Most Popular</a>
                                    <a class="dropdown-item" href="#">Most Read</a>
                                    <a class="dropdown-item" href="#">Most Discussed</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-3">

                        <div class="card z-depth-1 view hm-zoom">

                            <!--Card image-->
                            <a href="#" [routerLink]="[ '/song/' ]">
                                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466007/SFTOS_atmbz4.jpg" alt="Card image cap">
                                <div class="overlay">
                                    <div class="btn btn-rounded play-music">
                                        <p>Listen
                                            <i class=" mx-md-2 fa fa-play"></i>
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <!--Card content-->


                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card z-depth-1 view hm-zoom newsItem">
                            <a href="#" [routerLink]="[ '/song/' ]">
                                <!--Card image-->
                                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466006/reminese_xpmwwx.jpg" alt="Card image cap">
                                <div class="overlay">
                                    <div class="btn btn-rounded play-music">
                                        <p>Listen
                                            <i class=" mx-md-2 fa fa-play"></i>
                                        </p>
                                    </div>
                                </div>
                            </a>


                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card z-depth-1 view hm-zoom">
                            <a href="#" [routerLink]="[ '/song/' ]">
                                <!--Card image-->
                                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512465997/falz_nwwjhn.jpg" alt="Card image cap">
                                <div class="overlay">
                                    <div class="btn btn-rounded play-music">
                                        <p>Listen
                                            <i class=" mx-md-2 fa fa-play"></i>
                                        </p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-3">

                        <div class="card z-depth-1 view hm-zoom">
                            <a href="#" [routerLink]="[ '/song/' ]">
                                <!--Card image-->
                                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466003/kissDaniel_vz55ws.jpg" alt="Card image cap">
                                <div class="overlay">
                                    <div class="btn btn-rounded play-music">
                                        <p>Listen
                                            <i class=" mx-md-2 fa fa-play"></i>
                                        </p>
                                    </div>
                                </div>
                            </a>



                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card z-depth-1 view hm-zoom">

                            <a href="#" [routerLink]="[ '/song/' ]">
                                <!--Card image-->
                                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466007/runtown_ji2swb.jpg" alt="Card image cap">
                                <div class="overlay">
                                    <div class="btn btn-rounded play-music">
                                        <p>Listen
                                            <i class=" mx-md-2 fa fa-play"></i>
                                        </p>
                                    </div>
                                </div>
                            </a>


                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card z-depth-1 view hm-zoom">
                            <a href="#" [routerLink]="[ '/song/' ]">
                                <!--Card image-->
                                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512465994/davidoFia_icl9w6.jpg" alt="Card image cap">
                                <div class="overlay">
                                    <div class="btn btn-rounded play-music">
                                        <p>Listen
                                            <i class=" mx-md-2 fa fa-play"></i>
                                        </p>
                                    </div>
                                </div>
                            </a>


                        </div>
                    </div>
                    <div class="col-md-3  ">

                        <div class="card z-depth-1 view hm-zoom">
                            <a href="#" [routerLink]="[ '/song/' ]">
                                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466008/skales_olexmz.jpg" alt="Card image cap">
                                <div class="overlay">
                                    <div class="btn btn-rounded play-music">
                                        <p>Listen
                                            <i class=" mx-md-2 fa fa-play"></i>
                                        </p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card z-depth-1 view hm-zoom">
                            <a href="#" [routerLink]="[ '/song/' ]">

                                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466009/tuface_lnba8v.jpg" alt="Card image cap">
                                <div class="overlay">
                                    <div class="btn btn-rounded play-music">
                                        <p>Listen
                                            <i class=" mx-md-2 fa fa-play"></i>
                                        </p>
                                    </div>
                                </div>
                            </a>


                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card z-depth-1 view hm-zoom">

                            <a href="#" [routerLink]="[ '/song/' ]">
                                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466003/lilkesh_bubu6t.jpg" alt="Card image cap">
                                <div class="overlay">
                                    <div class="btn btn-rounded play-music">
                                        <p>Listen
                                            <i class=" mx-md-2 fa fa-play"></i>
                                        </p>
                                    </div>
                                </div>
                            </a>



                        </div>
                    </div>


                    <!-- <div class="row">



                  

              </div> -->
                </div>
                <div class="row">
                    <div class="container">
                        <nav>
                            <ul class="pagination pg-dark pagination-lg">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" mdbRippleRadius aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" mdbRippleRadius>1 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" mdbRippleRadius>2</a></li>
                                <li class="page-item"><a class="page-link" mdbRippleRadius>3</a></li>
                                <li class="page-item"><a class="page-link" mdbRippleRadius>4</a></li>
                                <li class="page-item"><a class="page-link" mdbRippleRadius>5</a></li>
                                <li class="page-item">
                                    <a class="page-link" mdbRippleRadius aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 right-side" style="padding-left: 100px;">
            <div class="row ">
                <div class="col-lg-12">
                    <h5>Search</h5>
                    <hr>
                    <div class="md-form">
                        <input mdbActive type="text" id="form1" class="form-control">
                        <label for="form1" class="">Keyword</label>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 50px">
                <div class="col-lg-12">
                    <h5>Categories</h5>
                    <hr>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Latest News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Celebrities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Lifestyle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gossip</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Music</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Wedding & Pre-Wedding</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" style="margin-top: 50px">
                <div class="col-lg-12">
                    <h5>Tags</h5>
                    <hr>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <h3><span class="badge black">New</span></h3>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <h3><span class="badge black">New</span></h3>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <h3><span class="badge black">New</span></h3>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <h3><span class="badge black">New</span></h3>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="row" style="margin-top: 50px">
                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515152460/jumiaAd_lqa9gr.jpg" alt="Chania" style="height: 296px; width: 336px">
            </div>
            <!--<div class="col-md-12 sideNews">
              <h2>Categories</h2>
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link hoverable" href="#">Celebrities</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link hoverable" href="#">Lifestyle</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link hoverable" href="#">Gossip</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link hoverable" href="#">Movies</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link hoverable" href="#">Music</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link hoverable" href="#">News</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link hoverable" href="#">Wedding/Pre-Wedding</a>
                  </li>
              </ul>
          </div>-->
        </div>

    </div>
</div>