div.newsrows{
    box-shadow: 1px 1px 1px 1px rgba(7, 10, 9, 0.56)
}

i{
    font-size: 150%;
    margin-top: 0.4em
}
div.row:nth-child(2n){
    padding-top: 0.4em
}
.add-btn{
    position: absolute;
    right:20px;
    top:-50px;
    font-size: 150%;

}
i{
    cursor: pointer;
}
.searchBar{
    height:2.5em;
    width: 100%;
}
.searchBar input {width: 100%;}
.body{
    border: none !important;
}
.searchBar .form-control{
    padding:0;
}

.modal .row{
    border: none;
}
.modal-header{
    background-color: rgba(247, 191, 9, 0.356)
}
.md-form label{
    margin-left:2em; 
}
.md-form{
    padding:0 1em;
    margin: 0;
}