<div class="container artistPage">
    <div class="row">
        <div class="col-md-8 border">
            <h2>Wizkid</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Videos</a>
                </li>
            </ul>
            <div><hr></div>
            <div class="row">
                <div class="col-md-5">
                    <h2><span class="badge badge-light"><i class="fa fa-eye" aria-hidden="true"><span class="badge badge-light">100k</span>
                    </i></span></h2>
                </div>
                <div class="col-md-7">
                    <button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-thumbs-o-up" aria-hidden="true"><spam> 50</spam></i></button>
                    <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-thumbs-o-down" aria-hidden="true"><span> 2</span></i></button>
                </div>
            </div>
            <div><hr></div>
            <div class="row">
                <div class="col-md-6"><img class="img-fluid animated fadeIn" src="../../assets/pictures/wizkid.jfif" alt="Chania" style="height: 250px; width: auto"></div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <ul class="list-group">
                                <li class="list-group-item">Given Name</li>
                                <li class="list-group-item">Date of Birth</li>
                                <li class="list-group-item">Hometown</li>
                                <li class="list-group-item">Label</li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <ul class="list-group">
                                <li class="list-group-item">Ayodeji Ibrahim Balogun</li>
                                <li class="list-group-item">16 July 1990</li>
                                <li class="list-group-item">Surulere</li>
                                <li class="list-group-item">Starboy</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div><hr></div>
            <div class="row">
                <div class="container">
                    <h3>Biography</h3>
                    <p>Ayodeji Ibrahim Balogun (born 16 July 1990), better known by his stage name Wizkid (sometimes stylised as WizKid), is a Nigerian singer and songwriter. He started recording music at age 11 and managed to release a collaborative album with the Glorious Five, a group he and a couple of his church friends formed. In 2009, he signed a record deal with Banky W.'s record label Empire Mates Entertainment (E.M.E). He rose to prominence in 2010 with the release of the song "Holla at Your Boy" from his debut studio album, Superstar (2011). "Tease Me/Bad Guys", "Don't Dull", "Love My Baby", "Pakurumo" and "Oluwa Lo Ni" were also released as singles from the Superstar album. Wizkid's self-titled second studio album, Ayo, was released in September 2014 and was preceded by six singles: "Jaiye Jaiye", "On Top Your Matter", "One Question", "Joy", "Bombay" and "Show You the Money".

                        In 2016, Wizkid achieved international recognition following his collaboration with Drake on the global hit, "One Dance", which reached number one in 15 countries, including the United States, United Kingdom, Canada and Australia. In addition to his solo work, Wizkid has collaborated with several other artists and was featured on the hits "Girl" (with Bracket), "Fine Lady" (with Lynxxx), "Sexy Mama" (with Iyanya), "Slow Down" (with R2Bees), "The Matter" (with Maleek Berry), "Pull Over" (with KCee) and "Bad Girl" (with Jesse Jagz).

                        Following the release of his second studio album and expiration of his 5-year recording contract, Wizkid left E.M.E. On 1 March 2017, Billboard magazine reported that Wizkid signed a multi-album deal with RCA Records. The deal was first reported by several media outlets in September 2016. The chairman and CEO of RCA Records, Peter Edge, somewhat confirmed the signing while speaking to Music Business Worldwide in January 2017.[6]

                        He was ranked 5th on Forbes and Channel O's 2013 list of the Top 10 Richest/Bankable African Artists. In February 2014, Wizkid became the first ever Nigerian musician to have over 1 million followers on Twitter. Moreover, he became the first Afrobeats artist to appeared in the 2018 Guinness World Records for his contribution to Drake's hit song "One Dance".</p>
                </div>
            </div>
            <div><hr></div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Top Songs</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid" src="../../assets/pictures/oju.jfif" alt="Chania" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7">
                                        <p>Ojuelegba</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid" src="../../assets/pictures/ginger.jfif" alt="Chania" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7"><p>Ginger ft Lax</p></div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid" src="../../assets/pictures/thematter.jfif" alt="Chania" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7">The Matter ft Maleek Berry</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Albums</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid" src="../../assets/pictures/SFTOS.jfif" alt="Chania" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7">SFTOS</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid" src="../../assets/pictures/ayo.jfif" alt="Chania" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7">AYO</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid" src="../../assets/pictures/superstar.jfif" alt="Chania" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7">SUPER STAR</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div><hr></div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Recent Videos</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <iframe width="240" height="120" src="https://www.youtube.com/embed/owa1q7ubE9U" frameborder="0" allowfullscreen></iframe>
                            <h6>Wizkid - Manya</h6>
                        </li>
                        <li class="nav-item">
                            <iframe width="240" height="120" src="https://www.youtube.com/embed/U4fqMMKo9ns" frameborder="0" allowfullscreen></iframe>
                            <h6>Tiwa Savage Ft. Wizkid & Spellz - Ma Lo</h6>
                        </li>
                        <li class="nav-item">
                            <iframe width="240" height="120" src="https://www.youtube.com/embed/vqW18C4plZ8" frameborder="0" allowfullscreen></iframe>
                            <h6>WizKid - Come Closer ft. Drake</h6>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6"><h3>Top Stories</h3></div>
            </div>
        </div>
        <div class="col-md-4 border">
            <h2>sideBar</h2>
        </div>
    </div>
</div>