<div style="background-image: url(http://res.cloudinary.com/sammiestarks/image/upload/v1515062037/nigerian-artist-poster_nzraba.jpg);  height: 400px; width: 100%; margin: 0; padding: 0; color: white">
    <div class="container">
        <div class="search-container mt-md-1">
            <div class="container">
                <div class="row mx-auto search-box">
                    <div class="col-md-2 search-tag" style="margin-top:0.2em;"><a href="" style="color:white; ">SEARCH</a> </div>
                    <div class="col-md-10 ">
                        <form style="margin-left:-2em;" class="form-inline  waves-light" mdbRippleRadius>
                            <input class="form-control col-sm-8  col-lg-12" type="text" placeholder="Search for news, videos and music or a celebrity that you are looking for">
                            <i class="fa fa-search col-sm-1 " aria-hidden="true"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="headers">Artist Detail</h1>
    </div>
</div>

<div class="container artistPage">
    <div class="row">
        <div class="col-md-8">
            <div class="row" style="margin-bottom: 40px;">
                <div class="col-lg-12">
                    <h2>Wizkid</h2>
                    <ul class="nav nav-tabs" style="background-color: #2E2E2E; color: white; text-decoration: none; border: solid; border-color: black; padding: 5px;">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu1">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Songs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Albums</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Videos</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6"><img class="img-fluid animated fadeIn" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466010/wizkid_x6hiyp.jpg" alt="Chania" style="height: 250px; width: auto"></div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <ul class="list-group">
                                <li class="list-group-item">Given Name</li>
                                <li class="list-group-item">Date of Birth</li>
                                <li class="list-group-item">Hometown</li>
                                <li class="list-group-item">Label</li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <ul class="list-group">
                                <li class="list-group-item">Ayodeji Ibrahim Balogun</li>
                                <li class="list-group-item">16 July 1990</li>
                                <li class="list-group-item">Surulere</li>
                                <li class="list-group-item">Starboy</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Date Added</p>
                    <h5>Views: <span class="badge badge-primary"><span>200k</span></span></h5>
                    <div class="row col-lg-12">

                        <p>Share It</p>
                        <!--Facebook-->
                        <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

                        <!--Twitter-->
                        <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

                        <!--Instagram-->
                        <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

                        <a class="icons-sm ins-ic"><i class="fa fa-thumbs-o-up" aria-hidden="true"><span><h6><span class="badge red">40k</span></h6></span></i></a>
                    </div>

                </div>
            </div>

            <div><hr></div>
            <div class="row">
                <div class="">
                    <h3>Biography</h3>
                    <p>Ayodeji Ibrahim Balogun (born 16 July 1990), better known by his stage name Wizkid (sometimes stylised as WizKid), is a Nigerian singer and songwriter. He started recording music at age 11 and managed to release a collaborative album with the Glorious Five, a group he and a couple of his church friends formed. In 2009, he signed a record deal with Banky W.'s record label Empire Mates Entertainment (E.M.E). He rose to prominence in 2010 with the release of the song "Holla at Your Boy" from his debut studio album, Superstar (2011). "Tease Me/Bad Guys", "Don't Dull", "Love My Baby", "Pakurumo" and "Oluwa Lo Ni" were also released as singles from the Superstar album. Wizkid's self-titled second studio album, Ayo, was released in September 2014 and was preceded by six singles: "Jaiye Jaiye", "On Top Your Matter", "One Question", "Joy", "Bombay" and "Show You the Money".

                        In 2016, Wizkid achieved international recognition following his collaboration with Drake on the global hit, "One Dance", which reached number one in 15 countries, including the United States, United Kingdom, Canada and Australia. In addition to his solo work, Wizkid has collaborated with several other artists and was featured on the hits "Girl" (with Bracket), "Fine Lady" (with Lynxxx), "Sexy Mama" (with Iyanya), "Slow Down" (with R2Bees), "The Matter" (with Maleek Berry), "Pull Over" (with KCee) and "Bad Girl" (with Jesse Jagz).

                        Following the release of his second studio album and expiration of his 5-year recording contract, Wizkid left E.M.E. On 1 March 2017, Billboard magazine reported that Wizkid signed a multi-album deal with RCA Records. The deal was first reported by several media outlets in September 2016. The chairman and CEO of RCA Records, Peter Edge, somewhat confirmed the signing while speaking to Music Business Worldwide in January 2017.[6]

                        He was ranked 5th on Forbes and Channel O's 2013 list of the Top 10 Richest/Bankable African Artists. In February 2014, Wizkid became the first ever Nigerian musician to have over 1 million followers on Twitter. Moreover, he became the first Afrobeats artist to appeared in the 2018 Guinness World Records for his contribution to Drake's hit song "One Dance".</p>
                </div>
            </div>
            <div><hr></div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Top Songs</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid view hm-zoom" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466006/oju_mfoeju.jpg" alt="Pic" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7">
                                        <p>Ojuelegba</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid view hm-zoom" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463057/ginger_fy9rey.jpg" alt="Chania" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7"><p>Ginger ft Lax</p></div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid view hm-zoom" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463064/thematter_qrzze6.jpg" alt="Chania" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7">The Matter ft Maleek Berry</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Albums</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid view hm-zoom" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463063/SFTOS_xsurfr.jpg" alt="Pic" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7">SFTOS</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid view hm-zoom" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463056/ayo_g09xgi.jpg" alt="Pic" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7">AYO</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid view hm-zoom" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463063/superstar_cfkqt9.jpg" alt="Pic" style="height: 50px; width: auto">
                                    </div>
                                    <div class="col-md-7">SUPER STAR</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div><hr></div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Recent Videos</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <iframe width="240" height="120" src="https://www.youtube.com/embed/owa1q7ubE9U" frameborder="0" allowfullscreen></iframe>
                            <h6>Wizkid - Manya</h6>
                        </li>
                        <li class="nav-item">
                            <iframe width="240" height="120" src="https://www.youtube.com/embed/U4fqMMKo9ns" frameborder="0" allowfullscreen></iframe>
                            <h6>Tiwa Savage Ft. Wizkid & Spellz - Ma Lo</h6>
                        </li>
                        <li class="nav-item">
                            <iframe width="240" height="120" src="https://www.youtube.com/embed/vqW18C4plZ8" frameborder="0" allowfullscreen></iframe>
                            <h6>WizKid - Come Closer ft. Drake</h6>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Top Stories</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463069/wizkid-2babymama_hcn9re.jpg" alt="Pic" style="height: 300px; width: 300px;">
                                <h5>Wizkid welcomes third child with Manager, Jada Pollock</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="img-fluid hoverable" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463070/wizkidaward_pgkll6.jpg" alt="Pic" style="height: 300px; width: 300px;">
                                <h5>Wizkid wins big at AFRIMA 2017</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">
                                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463068/wizkidfav_wbzj31.jpg" alt="Pic" style="height: 300px; width: 300px;">
                                <h5>Wizkid reveals favourite Nigerian artiste</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4" style="padding-left: 100px; margin-top: 50px;">
            <div class="col-lg-12">
                <div class="row ">
                    <div class="col-lg-12">
                        <h5>Search</h5>
                        <hr>
                        <div class="md-form">
                            <input mdbActive type="text" id="form1" class="form-control">
                            <label for="form1" class="">Keyword</label>
                        </div>
                    </div>
                </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <h5 style="margin-bottom: 10px; ">Featured Artist</h5>
                        </div>


                        <div>
                            <hr>
                        </div>
                        <div class="row">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div class="row celeb">
                                            <div class="col-md-6">
                                                <div class="rounded">
                                                    <img class="img-fluid animated fadeInDown" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512730627/7_uf9buz.jpg" alt="" style="height: 70px; width: auto" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 celebName">
                                                <h6>Tu Face</h6>
                                                <p>Artist</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div class="row celeb">
                                            <div class="col-md-6">
                                                <div class="rounded">
                                                    <img class="img-fluid animated fadeInDownBig" src="http://res.cloudinary.com/sammiestarks/image/upload/q_100/v1513679382/eldee_tnyvap.jpg" alt="" style="height: 70px; width: auto;" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 celebName">
                                                <h6>Eldee</h6>
                                                <p>Artist</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div class="row celeb">
                                            <div class="col-md-6">
                                                <div class="rounded">
                                                    <img class="img-fluid animated swing" src="http://res.cloudinary.com/sammiestarks/image/upload/q_100/v1513677221/asa_xrvyvc.jpg" alt="" style="height: 70px; width: auto;" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 celebName">
                                                <h6>Asa</h6>
                                                <p>Artist</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href=""><span class="more-link">SEE MORE CELEBRITIES ></span></a>
                    </div>

                <div class="row" style="margin-top: 50px">
                    <div class="col-lg-12">
                        <h5>Tags</h5>
                        <hr>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <h3><span class="badge black">New</span></h3>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <h3><span class="badge black">New</span></h3>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <h3><span class="badge black">New</span></h3>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <h3><span class="badge black">New</span></h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px">
                    <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515152460/jumiaAd_lqa9gr.jpg" alt="Chania" style="height: 296px; width: 336px">
                </div>
            </div>
        </div>
    </div>
</div>