<div class="container" *ngIf="!isOnAdminFunc()">
    <mdb-navbar SideClass="navbar black navbar-expand-lg navbar-dark scrolling-navbar fixed-top  z-depth-2 ">
        <logo>
            <a class="navbar-brand" href="#">
                <img src="../../assets/pictures/afblogoblk.png" height="38px" alt="">
            </a>
        </logo>
        <links class="main-nav">
            <ul class="navbar-nav mr-auto main-nav-left ">
                <li class="nav-item ">
                    <a class="nav-link waves-light " [routerLink]="[ '/' ]" routerLinkActive="active" mdbRippleRadius>Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" [routerLink]="[ '/news/' ]" mdbRippleRadius>News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" [routerLink]="[ '/music/' ]" mdbRippleRadius>Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius>Live Tv</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Celebrities</a>
                </li>
            </ul>
            <span class="navbar-text white-text">
              <links>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link waves-light" mdbRippleRadius>I report</a>
          </li>
          <li class="nav-item">
            <button type="button" class=" nav-link waves-light btn sign-btn btn-danger btn-rounded waves-light" (click)="form.show()" mdbRippleRadius><a class="nav-link white-text"> Login / Sign Up</a></button>
          </li>
          </ul>
        </links>
        </span>
        </links>
    </mdb-navbar>
</div>

<div class="container" *ngIf="isOnAdminFunc()">
    <mdb-navbar SideClass="navbar black navbar-expand-lg navbar-dark scrolling-navbar fixed-top  z-depth-2 ">
        <logo>
            <a class="navbar-brand" href="#">
                <img src="../../../images/afblogoblk.png" height="38px" alt="">
            </a>
            <h4 class="float-right white-text" style="margin-top:0.4em">Admin</h4>
        </logo>

    </mdb-navbar>
</div>