<div class="container">
    <div class="row newsContent mt-md-5 mb-1">
        <div class="col-lg-8">
            <h4 class="mt-4 mb-4 sub-headers">
                EVENTS
            </h4>
        </div>
        <div class="row">
            <div class="col-md-8 home-components-layout">
                <ul class="nav NewsNav">
                    <li class="nav-item">
                        <a class="nav-link active " href="#">#Hot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">#Trending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">#Popular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link right-fix" href="#">View All
                                              <i class="fa fa-chevron-right" ></i>
                                          </a>
                    </li>
                </ul>
                <div class="events row">
                    <div class="col-md-3 event-main-img">

                    </div>
                    <div class="col-md-8">
                        <h4 class="sub-header mt-md-3">
                            EXCLUSIVE:Bankys wedding
                        </h4>
                        <p class="mt-md-3">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit expedita quibusdam laudantium ad suscipit nemo molestias placeat corrupti aspernatur enim, eum, esse quod perspiciatis assumenda perferendis excepturi a optio eaque rerum porro voluptate,
                            numquam sed ipsam debitis! Assumenda mollitia voluptate non corrupti nostrum voluptates eos adipisci, voluptatem doloremque consectetur tempora harum placeat blanditiis enim quas ipsum consequuntur dolores autem explicabo.
                        </p>
                        <a href="" class="more-link">See more pictures ></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 spot-artist d-sm-none d-md-block d-none d-sm-block">
                <div class="row ">
                    <h3 style="margin-bottom: 5px; ">Follow us on twitter</h3>
                </div>
                <div>
                    <hr>
                </div>
                <div class="row socials">
                    <div class="tweets">

                    </div>
                </div>

                <div class="row mt-5">
                    <h3 style="margin-bottom:0; ">Find us on Instagram</h3>
                </div>

                <div>
                    <hr>
                </div>
                <div class="row socials">
                    <div class="tweets"></div>
                </div>

            </div>



        </div>

    </div>
</div>