<div class="container albumPage">
    <div class="row">
        <div class="col-md-8">
            <h2>M.I Abaga – The Chairman</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <img class="img-fluid" src="../../assets/pictures/MI-The-Chairman-art.jpeg" alt="MI">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Date Added</p>
                            <h5>Views: <span class="badge badge-primary"><span>200k</span></span></h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <!--Facebook-->
                                    <a type="button" class="btn-floating btn-large btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>

                                    <!--Twitter-->
                                    <a type="button" class="btn-floating btn-large btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"></i></a>

                                    <!--Instagram-->
                                    <a type="button" class="btn-floating btn-large btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-thumbs-o-up" aria-hidden="true"><spam> 50</spam></i></button>
                                    <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-thumbs-o-down" aria-hidden="true"><span> 2</span></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Tracklist</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">The Beginning/Nobody</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">Monkey</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">Rich</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">Mine</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">Shekpe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">Bad Belle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">Wheel Barrow</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">Brother</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">The Middle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">Enemies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hoverable" href="#">Bullion Van</a>
                        </li>
                        <li class="nav-item hoverable">
                            <a class="nav-link" href="#">Always Love</a>
                        </li>
                        <li class="nav-item hoverable">
                            <a class="nav-link" href="#">Millionaira Champagne</a>
                        </li>
                        <li class="nav-item hoverable">
                            <a class="nav-link" href="#">Yours</a>
                        </li>
                        <li class="nav-item hoverable">
                            <a class="nav-link" href="#">Beg</a>
                        </li>
                        <li class="nav-item hoverable">
                            <a class="nav-link" href="#">Human Being</a>
                        </li>
                        <li class="nav-item hoverable">
                            <a class="nav-link" href="#">The End/The Chairman</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form mt-md-5">
                        <textarea mdbActive type="text" id="form7" class="md-textarea"></textarea>
                        <label for="form7">Comment</label>
                        <button type="button" class="btn btn-elegant waves-light" mdbRippleRadius>Comment</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-md-5">
            <h2>Latest News</h2>
            <div><hr></div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-fluid view" src="../../assets/pictures/divorced.jpg" alt="Chania" style="height: 50px; width: auto">
                            </div>
                            <div class="col-md-7">
                                <p>News</p>
                                <p>We are not officially divorced</p>
                            </div>
                        </div>
                    </a>
                </li>
                <div><hr></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-fluid" src="../../assets/pictures/bovi.png" alt="Chania" style="height: 50px; width: auto">
                            </div>
                            <div class="col-md-7">
                                <p>News</p>
                                <p>Bovi Narrates How His Phone Was Stolen And Recovered</p>
                            </div>
                        </div>
                    </a>
                </li>
                <div><hr></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-fluid" src="../../assets/pictures/kay.jpg" alt="Chania" style="height: 50px; width: auto">
                            </div>
                            <div class="col-md-7">
                                <p>News</p>
                                <p>Mr 2Kay sues Eko Hotel for N500 Million</p>
                            </div>
                        </div>
                    </a>
                </li>
                <div><hr></div>
            </ul>
        </div>
    </div>
</div>