<div style="background-image: url(http://res.cloudinary.com/sammiestarks/image/upload/v1515062037/nigerian-artist-poster_nzraba.jpg);  height: 430px; width: 100%; margin: 0; padding: 0; color: white">
  <div class="container">
    <div class="search-container mt-md-1">
      <div class="container">
        <div class="row mx-auto search-box">
          <div class="col-md-2 search-tag" style="margin-top:0.2em;"><a href="" style="color:white; ">SEARCH</a> </div>
          <div class="col-md-10 ">
            <form style="margin-left:-2em;" class="form-inline  waves-light" mdbRippleRadius>
              <input class="form-control col-sm-8  col-lg-12" type="text" placeholder="Search for news, videos and music or a celebrity that you are looking for">
              <i class="fa fa-search col-sm-1 " aria-hidden="true"></i>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 sticky">
        <div class="row">
          <div class="col-lg-12" style="background-color: black; padding-bottom: 20px;">
            <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1513859199/The-Wedding-PartyMovie_xyt5kb.png" class="img-fluid rounded " alt="Responsive image" style="height: 521px; weight: 340px;">
            <br>
            <br>
            <a href="#"><button type="button" class="btn btn-unique btn-block waves-light" mdbRippleRadius style="font-weight: bold"><i class="fa fa-play" aria-hidden="true"></i>  Watch Trailer</button></a>
            <br>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="headers">The Wedding Party</h1>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row">
              <a href=""><i class="fa fa-heart-o" aria-hidden="true" style="border: groove; border-radius: 50%; border-color: white; color: white; padding: 10px; margin-left: 50px; margin-right: 5px;"></i></a><p style="margin-right: 10px">Add to Favorites</p>
              <a href=""><i class="fa fa-share-alt" aria-hidden="true" style="border: groove; border-radius: 50%; border-color: white; color: white; padding: 10px;"></i></a><p>Share</p>
            </div>
          </div>
        </div>
        <div><hr></div>
        <div class="row" style="margin-left: 40px;">
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-2"><h3><i class="fa fa-star" aria-hidden="true" style="color: gold;"></i></h3></div>
              <div class="col-lg-10">
                <p>
                  <span>8.1</span>/10
                  <br>
                  <span>56 Reviews</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <h4>
              Rate this Movie:
              <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
              <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
              <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
              <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
              <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
              <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
              <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
              <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
              <i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>
              <i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>
            </h4>
          </div>
        </div>
        <div class="row">
          <ul class="nav" style="margin-left: 50px;">
            <li class="nav-item">
              <h6><a class="nav-link" href="#" style="color: white">Overview</a></h6>
            </li>
            <li class="nav-item">
              <h6><a class="nav-link" href="#" style="color: white">Review</a></h6>
            </li>
            <li class="nav-item">
              <h6><a class="nav-link" href="#" style="color: white">Cast and Crew</a></h6>
            </li>
            <li class="nav-item">
              <h6><a class="nav-link" href="#" style="color: white">Media</a></h6>
            </li>
            <li class="nav-item">
              <h6><a class="nav-link" href="#" style="color: white">Related Movies</a></h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">

    </div>

    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-8" style="padding: 50px">
          <div class="row">
            <p>The Wedding Party is a 2016 Nigerian romantic comedy drama film, directed by Kemi Adetiba that premiered on 8 September 2016 at the Toronto International Film Festival in Canada and on 26 November 2016 at Eko Hotel and Suites in Lagos. The film was released worldwide on 16 December 2016, and became the highest grossing Nigerian film.</p>
          </div>
          <div class="row">
            <div class="col-lg-9" style="margin-left: 0; padding-left: 0; ">
              <h6 style="font-weight: bold">Photos and Videos</h6>
            </div>
            <div class="col-lg-3 float-lg-right" style="margin-right: 0; padding-right: 0; ">
              <a href="">View All<i class="fa fa-chevron-right" ></i></a>
            </div>
            <div><hr></div>
            <br>
            <div class="row">
              <div class="col-lg-3"><a> <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515514199/wed1_ofgdkm.jpg" class="rounded" alt="Cinque Terre" height="100" width="100"> </a></div>
              <div class="col-lg-3"><a> <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515514207/wed2_f1qgqg.jpg" class="rounded" alt="Cinque Terre" height="100" width="100"> </a></div>
              <div class="col-lg-3"><a> <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515514203/wed3_y6qfum.jpg" class="rounded" alt="Cinque Terre" height="100" width="100"> </a></div>
              <div class="col-lg-3"><a> <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515514203/wed4_hoxqpw.jpg" class="rounded" alt="Cinque Terre" height="100" width="100"> </a></div>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-lg-9" style="margin-left: 0; padding-left: 0; ">
              <h6 style="font-weight: bold">Cast</h6>
            </div>
            <div class="col-lg-3 float-lg-right" style="margin-right: 0; padding-right: 0; ">
              <a href="">View All<i class="fa fa-chevron-right" ></i></a>
            </div>
            <hr>
            <br>
          </div>
          <div class="row" style="font-size: small">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746306/Adesua_Etomicast_qw3ssf.png" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Adesua Etomi</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Dunni Coker</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746309/Banky-W_riobli.jpg" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Banky Wellington</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Dozie Onwuka</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746302/Richard-Mofe-Damijocast_uwzma1.jpg" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Richard Mofe Damijo </p>
                    </div>
                    <div class="col-lg-5">
                      <p>Chief Felix Onwuka</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746305/Sola-Sobowalecast_dqltr5.jpg" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Sola Sobowale</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Mrs. Tinuade Coker</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746299/Iretiola_Doylecast_msv3fg.jpg" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Iretiola Doyle</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Lady Obianuju Onwuka</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746306/brands-alibabacast_wsxwlb.jpg" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Alibaba Akporobome</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Engineer Bamidele Coker</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746303/zainab-balogun-makeovercast_u2wgpw.jpg" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Zainab Balogun</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Wonu</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746303/EnyinnaNwigwe_l0ghhy.jpg" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Enyinna Nwigwe</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Nonso Onwuka</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515748581/Somkelecast_jbhg7n.jpg" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Somkele Iyamah-Idhalama</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Yemisi Disu</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746300/beverlynayacast_dd104c.jpg" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Beverly Naya</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Rosie</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746300/daniellaDown_ugh5qb.jpg" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Daniella Down</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Deardre Winston</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746304/IbakaTV-Ayo-Makun-6e05d_1_cast_erfkx2.png" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>AY Makun</p>
                    </div>
                    <div class="col-lg-5">
                      <p>MC</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="row">
                    <div class="col-lg-2">
                      <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515746309/EmmaOhMaGodcast_k80vt7.jpg" class="rounded" alt="Cinque Terre" style="height: 40px; width: 40px;">
                    </div>
                    <div class="col-lg-5">
                      <p>Emmanuel Edunjobi</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Woli</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>

          <div><br></div>

          <div class="row">
            <div class="col-lg-9" style="margin-left: 0; padding-left: 0; ">
              <h6 style="font-weight: bold">Reviews</h6>
            </div>
            <div class="col-lg-3 float-lg-right" style="margin-right: 0; padding-right: 0; ">
              <a href="">View All<i class="fa fa-chevron-right" ></i></a>
            </div>
            <hr>
            <br>

          </div>

          <div class="row">
            <!--Avatar-->
            <div class="col-12 col-sm-2">
              <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid rounded-circle z-depth-2">
            </div>
            <!--Author Data-->
            <div class=" col-12 col-sm-10">
              <p><strong>Dope Movie</strong></p>
              <div class="row">
                <p>
                  Rating:
                  <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                  <i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>
                  <i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>
                </p>
              </div>
              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
              <p class="hidden-md-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse nulla quia quam veniam commodi dicta, iusto inventore. Voluptatum pariatur eveniet ea, officiis vitae praesentium beatae quas libero, esse facere.
              </p>
            </div>
          </div>

        </div>
        <div class="col-lg-4" style="padding: 50px;">
          <div class="row">
            <div class="row">
              <div class="row col-lg-12">
                <h6>Director</h6>
              </div>
              <div class="row col-lg-12">
                <a href="">Kemi Adetiba</a>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="row">
              <div class="row col-lg-12">
                <h6>Writer</h6>
              </div>
              <div class="row col-lg-12">
                <a href="">writer</a>,<a href="">writer</a>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="row">
              <div class="row col-lg-12">
                <h6>Stars</h6>
              </div>
              <div class="row col-lg-12">
                <a href="">stars</a>,<a href="">stars</a>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="row">
              <div class="row col-lg-12">
                <h6>Genres</h6>
              </div>
              <div class="row col-lg-12">
                <a href="">Family</a>,<a href="">Comedy</a>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="row">
              <div class="row col-lg-12">
                <h6>Release Date</h6>
              </div>
              <div class="row col-lg-12">
                <p>8 September 2016</p>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="row">
              <div class="row col-lg-12">
                <h6>Run Time</h6>
              </div>
              <div class="row col-lg-12">
                <p>131 mins</p>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="row">
              <div class="row col-lg-12">
                <h6>MMPA-Rating</h6>
              </div>
              <div class="row col-lg-12">
                <p>G</p>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="row">
              <div class="row col-lg-12">
                <h6>Plot Keywords</h6>
              </div>
              <div class="row col-lg-12">
                <p><span class="badge badge-dark">Drama</span></p>,<p><span class="badge badge-dark">Comedy</span></p>,<p><span class="badge badge-dark">Family</span></p>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515152460/jumiaAd_lqa9gr.jpg" class="rounded" alt="Cinque Terre" style="width: 200px; height: 200px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>