<p>
  
</p>
<h5>
    News Category
   </h5>
   <div class="row z-depth-3">
     <div class="col">
       <div class="row border black white-text px-5 py-1 z-depth-1 mr-md-1">
         <div class="col">Categories</div>
         <div class="col">Actions</div>
         <i class="fa fa-3x btn-floating add-btn fa-plus red-text" aria-hidden="true"></i>
         
       </div>
       <div class="row">
           <div class="col">Celebs</div>
           
           <div class="col">
               <i class="fa fa-minus" aria-hidden="true"></i>
               <i class="fa fa-pencil-square ml-3" aria-hidden="true"></i>
             </div>
         </div>
         <div class="row">
             <div class="col">Sports</div>
             <div class="col">
                 <i class="fa fa-minus" aria-hidden="true"></i>
                 <i class="fa fa-pencil-square ml-3" aria-hidden="true"></i>
               </div>
           </div>
           <div class="row">
               <div class="col">Politics</div>
               <div class="col">
                   <i class="fa fa-minus" aria-hidden="true"></i>
                   <i class="fa fa-pencil-square ml-3" aria-hidden="true"></i>
                 </div>
             </div>
             <div class="row">
                 <div class="col">Music</div>
                 <div class="col">
                     <i class="fa fa-minus" aria-hidden="true"></i>
                     <i class="fa fa-pencil-square ml-3" aria-hidden="true"></i>
                   </div>
               </div>
               <div class="row">
                   <div class="col">Lifestyle</div>
                   <div class="col">
                       <i class="fa fa-minus" aria-hidden="true"></i>
                       <i class="fa fa-pencil-square ml-3" aria-hidden="true"></i>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col">Hot</div>
                     <div class="col">
                         <i class="fa fa-minus" aria-hidden="true"></i>
                         <i class="fa fa-pencil-square ml-3" aria-hidden="true"></i>
                       </div>
                   </div>
     </div>
   </div>

