<div style="background-image: url(http://res.cloudinary.com/sammiestarks/image/upload/v1515062037/nigerian-artist-poster_nzraba.jpg);  height: 400px; width: 100%; margin: 0; padding: 0; color: white">
    <div class="container">
        <div class="search-container mt-md-1">
            <div class="container">
                <div class="row mx-auto search-box">
                    <div class="col-md-2 search-tag" style="margin-top:0.2em;"><a href="" style="color:white; ">SEARCH</a> </div>
                    <div class="col-md-10 ">
                        <form style="margin-left:-2em;" class="form-inline  waves-light" mdbRippleRadius>
                            <input class="form-control col-sm-8  col-lg-12" type="text" placeholder="Search for news, videos and music or a celebrity that you are looking for">
                            <i class="fa fa-search col-sm-1 " aria-hidden="true"></i>
                        </form>
                    </div>

                </div>





            </div>

        </div>
        <h1 class="headers">Celebrities</h1>
    </div>
</div>


<!--Card Light-->
<div class="container">
    <div class="row">
        <div class="col-lg-9">

        </div>
        <div class="container">
            <div class="col-md-3 main-socials mt-3 float-right col-sm-12 col-xs-12">
                <span style="font-weight:600;">
                                FOLLOW US:
                              </span>
                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

                <!--Instagram-->
                <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

                <!--Instagram-->
                <a class="icons-sm ins-ic"><i class="fa fa-youtube"></i></a>

            </div>
        </div>


    </div>
    <div class="row  mt-md-3">
        <div class="col-lg-8">
            <div class="row main-news-row">
                <div class="col-lg-12" style="background-color: #2E2E2E; color: white; text-decoration: none; border: solid; border-color: black; padding: 5px;">
                    <ul class="nav">
                        <li class="nav-item">
                            <p class="nav-link" href="#">Found 1,608 celebrities in total</p>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group" dropdown>
                                <button dropdownToggle class="btn btn-dark dropdown-toggle waves-light" type="button" mdbRippleRadius>
                                    Sort By
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Name</a>
                                    <a class="dropdown-item" href="#">Country</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <!--Card image-->
                        <a href="" [routerLink]="[ '/celebrity-details/' ]">
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/c_scale,e_displace,h_275,q_auto:best/v1513684220/Skales_vhdnz0.jpg" alt="Card image cap" style="height: 400px; width: 270px">
                        </a>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Scales</h4>
                            <!--Text-->

                        </div>
                    </div>

                    <div class="col-md-4">
                        <!--Card image-->
                        <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_displace,q_100/v1513677232/Banky-W_plx41l.jpg" alt="Card image cap" style="height: 400px; width: 270px">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Banky W </h4>
                            <!--Text-->

                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Card image-->
                        <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_blur_region:100,q_100/v1512463068/wizkidfav_wbzj31.jpg" alt="Card image cap" style="height: 400px; width: 270px">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Wizkid </h4>
                            <!--Text-->

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <!--Card image-->
                        <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_displace,q_100/v1513677221/Davido_kvste2.jpg" alt="Card image cap" style="height: 400px; width: 270px">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Davido</h4>
                            <!--Text-->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!--Card image-->
                        <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_displace,q_100/v1513679383/simi_j0g4qa.jpg" alt="Card image cap" style="height: 400px; width: 270px">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Simi</h4>
                            <!--Text-->

                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Card image-->
                        <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/q_100/v1513677221/asa_xrvyvc.jpg" alt="Card image cap" style="height: 400px; width: 270px">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title"> Asa </h4>
                            <!--Text-->

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <!--Card image-->
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/c_scale,e_displace,h_275,q_auto:best/v1513684220/Skales_vhdnz0.jpg" alt="Card image cap" style="height: 400px; width: 270px">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Scales</h4>
                                <!--Text-->
                            </div>
                        </div>

                        <div class="col-md-4">
                            <!--Card image-->
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_displace,q_100/v1513677232/Banky-W_plx41l.jpg" alt="Card image cap" style="height: 400px; width: 270px">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Banky W </h4>
                                <!--Text-->

                            </div>
                        </div>
                        <div class="col-md-4">
                            <!--Card image-->
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_blur_region:100,q_100/v1512463068/wizkidfav_wbzj31.jpg" alt="Card image cap" style="height: 400px; width: 270px">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Wizkid </h4>
                                <!--Text-->

                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3  ">

                        <div class="card z-depth-0 view hm-zoom">

                            &lt;!&ndash;Card image&ndash;&gt;
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_displace,q_100/v1513684222/Joseph-Benjamin-Nigerian-actor-Nollywood_nx3hpj.jpg" alt="Card image cap">

                            &lt;!&ndash;Card content&ndash;&gt;
                            <div class="card-body">
                                &lt;!&ndash;Title&ndash;&gt;
                                <h4 class="card-title">Joseph Benjamin</h4>
                                &lt;!&ndash;Text&ndash;&gt;

                            </div>

                        </div>
                    </div>-->
                    <!--<div class="col-md-3">
                        <div class="card z-depth-0 view hm-zoom">

                            &lt;!&ndash;Card image&ndash;&gt;
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/q_100/v1513683522/dBanjCeleb_htzbif.jpg" alt="Card image cap">

                            &lt;!&ndash;Card content&ndash;&gt;
                            <div class="card-body">
                                &lt;!&ndash;Title&ndash;&gt;
                                <h4 class="card-title">D banj </h4>
                                &lt;!&ndash;Text&ndash;&gt;

                            </div>

                        </div>
                    </div>-->

                </div>
                <!-- <div class="row">



                    <div class="col-md-4">
                        <div class="card z-depth-0 view hm-zoom">

                           
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463067/mikel_e1srts.jpg" alt="Card image cap">

                            
                            <div class="card-body">
                                
                                <h4 class="card-title">Adorable Pictures Of Mikel Obi And His Twin Daughters</h4>
                               
                                <p class="card-text">Olga Diyachenko , girlfriend of Nigerian International footballer Mikel Obi , shared these s ....</p>
                                <a href="#" class="waves-light" mdbRippleRadius>Read more</a>
                                <div class="row socialClicks">
                                    <div class="col-md-4"><a class="hoverable" mdbTooltip="Likes" placement="top" mdbRippleRadius><i class="fa fa-heart" aria-hidden="true"><span> 1k</span></i></a></div>
                                    <div class="col-md-4"><a class="hoverable" mdbTooltip="Views" placement="top" mdbRippleRadius><i class="fa fa-eye" aria-hidden="true"><span> 3k</span></i></a></div>
                                    <div class="col-md-4"><a class="hoverable" mdbTooltip="Share" placement="top" mdbRippleRadius><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div> -->
                <div class="row">
                    <div class="container">
                        <nav>
                            <ul class="pagination pg-dark pagination-lg">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" mdbRippleRadius aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" mdbRippleRadius>1 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" mdbRippleRadius>2</a></li>
                                <li class="page-item"><a class="page-link" mdbRippleRadius>3</a></li>
                                <li class="page-item"><a class="page-link" mdbRippleRadius>4</a></li>
                                <li class="page-item"><a class="page-link" mdbRippleRadius>5</a></li>
                                <li class="page-item">
                                    <a class="page-link" mdbRippleRadius aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="padding-left: 100px;">
            <div class="row">
                <div class="col-lg-12">
                    <h5>Search Celebrity</h5>
                    <hr>
                    <form>
                        <div class="md-form">
                            <input type="text" id="form3" class="form-control" mdbActive>
                            <label for="form3">Celebrity name</label>
                        </div>

                        <div class="md-form">
                            <input type="text" id="form2" class="form-control" mdbActive>
                            <label for="form2">Category</label>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-elegant waves-light" mdbRippleRadius>Search</button>
                        </div>

                    </form>
                </div>
            </div>


            <div class="row" style="margin-top: 50px">
                <div class="col-lg-12">
                    <h5>Tags</h5>
                    <hr>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <h3><span class="badge black">New</span></h3>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <h3><span class="badge black">New</span></h3>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <h3><span class="badge black">New</span></h3>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <h3><span class="badge black">New</span></h3>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="row" style="margin-top: 50px">
                <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515152460/jumiaAd_lqa9gr.jpg" alt="Chania" style="height: 296px; width: 336px">
            </div>
            <div class=" spot-artist mt-md-5 d-sm-none d-md-block d-none d-sm-block">
                <div class="row">
                    <h3 style="margin-bottom: 10px; ">FEATURED CELEBRITIES</h3>
                </div>

                <div>
                    <hr>
                </div>
                <div class="row">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="row celeb">
                                    <div class="col-md-7">
                                        <div class="rounded">
                                            <img class="img-fluid animated fadeInDown" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466010/wizkid_x6hiyp.jpg" alt="" style="height: 70px; width: auto" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 celebName">
                                        <h6>Wizkid</h6>
                                        <p>Artist</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="row celeb">
                                    <div class="col-md-7">
                                        <div class="rounded">
                                            <img class="img-fluid animated fadeInDownBig" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512465994/davidoFia_icl9w6.jpg" alt="" style="height: 70px; width: auto" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 celebName">
                                        <h6>Davido</h6>
                                        <p>Artist</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="row celeb">
                                    <div class="col-md-7">
                                        <div class="rounded">
                                            <img class="img-fluid animated swing" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463061/MI-The-Chairman-art_oad11a.jpg" alt="" style="height: 70px; width: auto" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 celebName">
                                        <h6>John Dumelo</h6>
                                        <p>Actor</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div>
                <span class="more-link">SEE MORE CELEBRITIES ></span>
            </div>

        </div>

    </div>
</div>