.main-socials {
    margin: 0 -3.4em 0 0;
    a {
        margin-left: 0.3em;
    }
}

.search-container {
    padding-top: 10px;
}

.main-socials i {
    margin-left: -1em;
}

.main-news-row>div {
    margin-bottom: 20px;
    margin-top: 0;
}

.main-news-row img {
    height: 230px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.fa-heart {
    color: #ff4444;
    font-size: 20px;
}

.fa-eye {
    color: #00C851;
    font-size: 20px;
}

.fa-share-alt {
    font-size: 20px;
}

.socialClicks {
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.card-body {
    margin-bottom: 0;
}

.sideNews {
    font-family: "Dosis", sans-serif;
    text-align: right;
}

.sideNews h2 {
    font-weight: bold;
    text-align: center;
}

.sideNews ul li a {
    margin: 10px;
    font-weight: 600;
}

.card {
    img {
        height: 20em;
    }

    p {
        font-size: 80%
    }
    h4 {
        font-size: 110%;
    }
}