<!--Card Light-->
<div class="container">
    <div class="search-container">
        <div class="mx-auto search-box">
            <form class="form-inline  waves-light" mdbRippleRadius>
                <input class="form-control col-sm-8  col-lg-10" type="text" placeholder="Celebrity Search">
                <i class="fa fa-search col-lg-1 col-sm-1" aria-hidden="true"></i>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-9">

        </div>
        <div class="container">
            <div class="col-md-3 main-socials mt-3 float-right col-sm-12 col-xs-12">
                <span style="font-weight:600;">
                                FOLLOW US:
                              </span>
                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

                <!--Twitter-->
                <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

                <!--Instagram-->
                <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

                <!--Instagram-->
                <a class="icons-sm ins-ic"><i class="fa fa-youtube"></i></a>

            </div>
        </div>


    </div>
    <div class="row  mt-md-3">
        <div class="col-md-10">
            <div class="row main-news-row">
                <div class="row">
                    <div class="col-md-3  ">

                        <div class="card z-depth-0 view hm-zoom">

                            <!--Card image-->
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/c_scale,e_displace,h_275,q_auto:best/v1513684220/Skales_vhdnz0.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Scales</h4>
                                <!--Text-->

                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card z-depth-0 view hm-zoom newsItem">

                            <!--Card image-->
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_displace,q_100/v1513677232/Banky-W_plx41l.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Banky W </h4>
                                <!--Text-->

                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card z-depth-0 view hm-zoom">

                            <!--Card image-->
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_blur_region:100,q_100/v1512463068/wizkidfav_wbzj31.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Wizkid </h4>
                                <!--Text-->

                            </div>

                        </div>
                    </div>
                    <div class="col-md-3  ">

                        <div class="card z-depth-0 view hm-zoom">

                            <!--Card image-->
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_displace,q_100/v1513677221/Davido_kvste2.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Davido</h4>
                                <!--Text-->

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-3">
                        <div class="card z-depth-0 view hm-zoom">

                            <!--Card image-->
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_displace,q_100/v1513679383/simi_j0g4qa.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Simi</h4>
                                <!--Text-->

                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card z-depth-0 view hm-zoom">

                            <!--Card image-->
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/q_100/v1513677221/asa_xrvyvc.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title"> Asa </h4>
                                <!--Text-->

                            </div>

                        </div>
                    </div>
                    <div class="col-md-3  ">

                        <div class="card z-depth-0 view hm-zoom">

                            <!--Card image-->
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/e_displace,q_100/v1513684222/Joseph-Benjamin-Nigerian-actor-Nollywood_nx3hpj.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Joseph Benjamin</h4>
                                <!--Text-->

                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card z-depth-0 view hm-zoom">

                            <!--Card image-->
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/q_100/v1513683522/dBanjCeleb_htzbif.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">D banj </h4>
                                <!--Text-->

                            </div>

                        </div>
                    </div>

                </div>
                <!-- <div class="row">



                    <div class="col-md-4">
                        <div class="card z-depth-0 view hm-zoom">

                           
                            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463067/mikel_e1srts.jpg" alt="Card image cap">

                            
                            <div class="card-body">
                                
                                <h4 class="card-title">Adorable Pictures Of Mikel Obi And His Twin Daughters</h4>
                               
                                <p class="card-text">Olga Diyachenko , girlfriend of Nigerian International footballer Mikel Obi , shared these s ....</p>
                                <a href="#" class="waves-light" mdbRippleRadius>Read more</a>
                                <div class="row socialClicks">
                                    <div class="col-md-4"><a class="hoverable" mdbTooltip="Likes" placement="top" mdbRippleRadius><i class="fa fa-heart" aria-hidden="true"><span> 1k</span></i></a></div>
                                    <div class="col-md-4"><a class="hoverable" mdbTooltip="Views" placement="top" mdbRippleRadius><i class="fa fa-eye" aria-hidden="true"><span> 3k</span></i></a></div>
                                    <div class="col-md-4"><a class="hoverable" mdbTooltip="Share" placement="top" mdbRippleRadius><i class="fa fa-share-alt" aria-hidden="true"></i></a></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div> -->
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-md-12 sideNews">
                <h2>Categories</h2>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link hoverable" href="#">Music</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hoverable" href="#">Nolly Wood</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hoverable" href="#">Sports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hoverable" href="#">OAPs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hoverable" href="#">Directors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hoverable" href="#">Producers</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>