<div class="container">
    <div class="row newsContent mt-md-3 mb-3">
        <div class="col-lg-8">
            <h4 class=" mt-2 sub-headers">
                Tv Series
            </h4>
        </div>
        <div class="row">
            <div class="col-md-8 home-components-layout">
                <ul class="nav NewsNav">
                    <li class="nav-item">
                        <a class="nav-link active " href="#">#Hot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">#Trending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">#Popular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link right-fix" href="#">View All
                                                            <i class="fa fa-chevron-right" ></i>
                                                        </a>
                    </li>
                </ul>
                <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">

                    <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
                        <a [routerLink]="[ '/tvseries-details/' ]">
                            <img src="{{Tile}}" height="250px" width="100%" />
                            <div class="overlay">
                                <div class="btn btn-rounded play-music">
                                    <p>Watch
                                        <i class=" mx-md-2 fa fa-play"></i>
                                    </p>
                                </div>
                            </div>

                        </a>
                    </ngx-tile>


                    <button NgxCarouselPrev class='leftRs'>&lt;</button>
                    <button NgxCarouselNext class='rightRs'>&gt;</button>
                </ngx-carousel>
            </div>
            <div class="col-md-4 mt-md-0 spot-artist d-sm-none d-md-block d-none d-sm-block">
                <div class="row">
                    <h3 style="margin-bottom: 10px; ">SPOTLIGHT CELEBRITIES</h3>
                </div>

                <div>
                    <hr>
                </div>
                <div class="row">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="row celeb">
                                    <div class="col-md-7">
                                        <div class="rounded">
                                            <img class="img-fluid animated fadeInDown" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466010/wizkid_x6hiyp.jpg" alt="" style="height: 70px; width: auto" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 celebName">
                                        <h6>Wizkid</h6>
                                        <p>Artist</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="row celeb">
                                    <div class="col-md-7">
                                        <div class="rounded">
                                            <img class="img-fluid animated fadeInDownBig" src="http://res.cloudinary.com/sammiestarks/image/upload/q_100/v1513679382/eldee_tnyvap.jpg" alt="" style="height: 70px; width: 50%" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 celebName">
                                        <h6>Eldee</h6>
                                        <p>Artist</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="row celeb">
                                    <div class="col-md-7">
                                        <div class="rounded">
                                            <img class="img-fluid animated swing" src="http://res.cloudinary.com/sammiestarks/image/upload/q_100/v1513677221/asa_xrvyvc.jpg" alt="" style="height: 70px; width: 50%" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 celebName">
                                        <h6>Asa</h6>
                                        <p>Artist</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="more-link">SEE MORE CELEBRITIES ></span>
            </div>




        </div>

    </div>
</div>