.newsContent {
    padding-bottom: 5em;
    padding-top: 3em;
    font-size: 80%;
    font-family: 'Dosis', sans-serif !important;
    font-stretch: extra-expanded;
    // font-weight: 800 !important;
}

.sub-headers {
    font-family: 'Dosis', sans-serif !important;
    font-stretch: extra-expanded !important;
    font-weight: 700 !important;
    font-size: 160%;
}

ngx-carousel::ng-deep {
    position: relative;
    box-shadow: none !important;
    ul.ngxcarouselPoint {
        position: absolute;
        top: -35px;
        right: 3px;
        li {
            background-color: red;
            border: none;
        }
    }
}

.socials {
    height: 300px;
    overflow-y: scroll;
}

.fb {
    background-image: url("http://res.cloudinary.com/sammiestarks/image/upload/v1515487845/Facebook-Integration_kdqkof.png");
    background-color: blue;
    background-size: contain;
    height: 400px;
    width: 100%;
}

ngx-tile::ng-deep {
    box-shadow: none !important;
}

.card-body {
    font-size: 130%;
    h4 {
        font-family: 'Dosis', sans-serif !important;
        font-stretch: extra-condensed !important;
        font-weight: 400 !important;
        font-size: 80%;
        color: black;
    }
    h4:hover {
        text-decoration: underline;
    }
}

.leftRs,
.rightRs {
    visibility: hidden !important;
}

.spot-artist {
    padding-left: 65px;
    padding-right: 2em;
    font-size: 20px;
    h3 {
        font-size: 90%;
        font-family: 'Dosis', sans-serif !important;
        font-stretch: extra-expanded !important;
        font-weight: 700 !important;
        margin: 0;
        padding: 0;
    }
    hr {
        margin-top: -0.1em;
        margin-left: -0.7em;
    }
}

.celeb {
    padding: 5px;
}

.celebName {
    padding-left: 34px;
    padding-top: 5px;
    padding: 10px;
    font-family: 'Dosis', sans-serif !important;
    font-stretch: extra-condensed !important;
    font-weight: 800 !important;
    p {
        text-transform: uppercase;
        margin-top: -0.4em;
        font-family: 'Dosis', sans-serif !important;
        font-stretch: extra-expanded !important;
        font-weight: 400 !important;
    }
}

h4 {}

h6 {
    font-weight: bold;
}

.NewsNav {
    // border: 1px solid red;
    color: light-grey;
    position: relative;
    text-transform: uppercase;
    .right-fix {
        position: absolute;
        right: -5px;
        top: -35px;
        i {
            font-weight: 400 !important;
            font-size: 90%;
        }
    }
    a:link {
        font-family: 'Dosis', sans-serif !important;
        font-stretch: extra-condensed !important;
        font-weight: 700 !important;
        color: rgba(130, 130, 130, 1);
        font-size: 100%;
        background-color: transparent;
        text-decoration: none;
        transition: 300ms ease-out;
    }
    a:visited {
        color: rgba(130, 130, 130, 1);
        text-decoration: none;
    }
    a:hover {
        color: darkred;
        text-decoration: none;
        transition: 300ms ease-in;
    }
    a:active {
        color: darkred;
        text-decoration: none;
    }
}

@media (max-width: 575px) {
    .newsContent {
        margin: 15px;
        padding: 2px;
    }
    .card-body {
        display: none;
    }
    .home-components-layout {
        margin-left: 0;
    }
    img {
        height: 250px;
        width: 100%;
    }
    .NewsNav li a {
        color: grey;
        font-weight: bold;
        font-size: x-small;
    }
    .NewsNav li a:active {
        color: red;
        font-weight: bold;
        font-size: x-small;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
    .newsContent {
        margin: 15px;
        padding: 2px;
    }
    .home-components-layout {
        margin-left: 0;
    }
    img {
        height: 250px;
        width: 100%;
    }
    .NewsNav li a:link {
        text-decoration: none;
        color: grey;
        font-weight: bold;
        font-size: x-small;
        background-color: transparent;
    }
    .NewsNav li a:visited {
        text-decoration: none;
        color: red;
        font-weight: bold;
        font-size: x-small;
        background-color: transparent;
    }
    .NewsNav li a:hover {
        text-decoration: none;
        color: red;
        font-weight: bold;
        font-size: x-small;
        background-color: transparent;
    }
    .NewsNav li a:active {
        text-decoration: none;
        color: red;
        font-weight: bold;
        font-size: x-small;
        background-color: transparent;
    }
}

.adverts-wide {
    background-image: url("http://res.cloudinary.com/sammiestarks/image/upload/v1515487870/AIRTELAFRICA_Homepage_banner_C_sgmkid.jpg");
    height: 25em;
    background-size: cover;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}