<div class="container">
    <div class="row newsContent mb-2">
        <div class="col-md-8 home-components-layout adverts-wide">
            <!-- adverts -->

        </div>

        <div class="col-md-4 spot-artist d-sm-none d-md-block d-none d-sm-block">
            <div class="row">
                <h3 style="margin-bottom: 10px; ">Find us on facebook</h3>
            </div>

            <div>
                <hr>
            </div>
            <div class="row socials">
                <div class="fb"></div>
            </div>

        </div>



    </div>
</div>