<div class="row newsContent mb-5">
  <div class="col-lg-8 ml-5">
    <h4 class="ml-3 mt-4">
      News
    </h4>
  </div>
  <div class="col-lg-8 home-components-layout">
    <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">

      <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
        <img src="{{Tile}}" height="250px" width="100%" />
      </ngx-tile>

      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
  </div>
  <div class="col-lg-3 spot-artist">
    <h3 style="margin-bottom: 10px;">Spotlight Celebrities</h3>
    <div><hr></div>
    <div class="row celeb">
      <div class="col-md-3">
        <div class="rounded border prof-pic ">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnNgEEQUDFesZ7LBb8JkBx79fY7_wwWVQU-UYgIYhfwd-HM4pgeQ" />
        </div>
      </div>
      <div class="col-md-9 celebName">
        <h5>Wizkid Ayo</h5>
        <p>Artist</p>
      </div>
    </div>
    <div class="row celeb">
      <div class="col-md-3">
        <div class="rounded border prof-pic ">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6tk7grKBQpH1LDzyeXyIBMn4W52L6RC_Ew4bXqoapJbtM3PNVBg" />
        </div>
      </div>
      <div class="col-md-9 celebName">
        <h5>Tonto Dikeh</h5>
        <p>Actress</p>
      </div>
    </div>
    <div class="row celeb">
      <div class="col-md-3">
        <div class="rounded border prof-pic ">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjhiLIj4hOUe2kY_7PHJLQK2iY_N1lD2JLsgLzjgXIc8vmMNjj" />
        </div>
      </div>
      <div class="col-md-9 celebName">
        <h5>Adekunle Gold</h5>
        <p>Artist</p>
      </div>
    </div>
  </div>

</div>
