.newsContent{
  margin: 50px;
  padding: 5px;
  font-family: "Dosis", sans-serif;
}

.spot-artist{
  padding-left: 65px;
  font-size: 20px;
}

.celeb{
  margin-bottom: 20px;
}

.celebName{
  padding-left: 34px;
  padding-top: 5px;
}

h4{
  font-weight: 600;
  font-size: 28px;
}