.newsContent{
  margin: 50px;
  padding: 5px;
  font-family: "Dosis", sans-serif;
}

.spot-artist{
  padding-left: 65px;
  font-size: 20px;
}

.celeb{
  padding: 10px;
}

.celebName{
  padding-left: 34px;
  padding-top: 5px;
  padding: 10px;
}

h4{
  font-weight: 600;
  font-size: 28px;
}

.NewsNav{
  a:link {
    color: grey;
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: grey;
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: darkred;
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: darkred;
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
  }
}



@media (max-width: 575px) {
  .newsContent{
    margin: 15px;
    padding: 2px;
  }

  .home-components-layout{
    margin-left: 0;
  }

  img{
    height: 250px;
    width: 100%;
  }

  .NewsNav li a{
    color: grey;
    font-weight: bold;
    font-size: x-small;
  }
  .NewsNav li a:active{
    color: red;
    font-weight: bold;
    font-size: x-small;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .newsContent{
    margin: 15px;
    padding: 2px;
  }

  .home-components-layout{
    margin-left: 0;
  }
  img{
    height: 250px;
    width: 100%;
  }

  .NewsNav li a:link{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: x-small;
    background-color: transparent;
  }

  .NewsNav li a:visited{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: x-small;
    background-color: transparent;
  }

  .NewsNav li a:hover{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: x-small;
    background-color: transparent;
  }

  .NewsNav li a:active{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: x-small;
    background-color: transparent;
  }

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}