<div class="container">
    <div class="row newsContent mt-md-5 mb-1">
        <div class="col-lg-8">
            <h4 class=" mt-4 mb-4 sub-headers">
                NEWS
            </h4>
        </div>
        <div class="row">
            <div class="col-md-9 home-components-layout">
                <ul class="nav NewsNav">
                    <li class="nav-item">
                        <a class="nav-link active " href="#">#Top Story</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">#Most Read</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">#Most Discussed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link right-fix" href="#">View All
                            <i class="fa fa-chevron-right" ></i>
                        </a>
                    </li>
                </ul>
                <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">

                    <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
                        <a [routerLink]="[ '/news-detail/' ]">
                            <img src="{{Tile}}" height="200px" width="100%" />
                            <div class="card-body z-depth-0 ">
                                <h4 class="card-title" style="color: black; font-size: medium; font-weight: 300">BREAKING NEWS: Some quick example text to build on </h4>
                                <a class="waves-light red-text" mdbRippleRadius>AFROBEAT </a>
                            </div>
                        </a>
                    </ngx-tile>

                    <button NgxCarouselPrev class='leftRs'>&lt;</button>
                    <button NgxCarouselNext class='rightRs'>&gt;</button>
                </ngx-carousel>
            </div>



            <div class="col-md-3 spot-artist d-sm-none d-md-block d-none d-sm-block adverts-side">
                <!-- !!adverts -->
            </div>

        </div>

    </div>
</div>