<div style="background-image: url(http://res.cloudinary.com/sammiestarks/image/upload/v1515062037/nigerian-artist-poster_nzraba.jpg);  height: 400px; width: 100%; margin: 0; padding: 0; color: white">
  <div class="container">
    <div class="search-container mt-md-1">
      <div class="container">
        <div class="row mx-auto search-box">
          <div class="col-md-2 search-tag" style="margin-top:0.2em;"><a href="" style="color:white; ">SEARCH</a> </div>
          <div class="col-md-10 ">
            <form style="margin-left:-2em;" class="form-inline  waves-light" mdbRippleRadius>
              <input class="form-control col-sm-8  col-lg-12" type="text" placeholder="Search for news, videos and music or a celebrity that you are looking for">
              <i class="fa fa-search col-sm-1 " aria-hidden="true"></i>
            </form>
          </div>

        </div>





      </div>

    </div>
    <h1 class="headers">News Detail</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12">
        <h2 style="padding-top: 50px">We are not officially divorced</h2>
        <div><hr></div>
        <div class="row">
          <div class="row col-md-7">
            <div class="col-md-3">
              <img class="img-fluid rounded-circle" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466011/vic_d8cuaz.jpg" alt="Uploader" style="height: 50px">
            </div>
            <div class="col-md-7">
              <p class="small">By OluWole Victor</p>
              <p class="small">November 16, 2017 04:53</p>
            </div>
          </div>
          <!--<div class="col-md-5">
            <div class="row">
              <button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-thumbs-o-up" aria-hidden="true"><spam> 50</spam></i></button>
              <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-thumbs-o-down" aria-hidden="true"><span> 2</span></i></button>
            </div>
          </div>-->
        </div>
        <div><hr></div>
        <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466003/divorced_aujiwb.jpg" height="auto" width="100%" style="vertical-align: middle; border: 0;" >
        <p>Photo Credit</p>
        <h3>We are not officially divorced</h3>

        <div class="row">
          <div class="col-lg-12">
            <p> Joss Whedon has a little bit of a history with superhero movies, and for creating layered female characters. After his documented frustrations with Wonder Woman, he's getting another chance at the DC Extended Universe and Warner Bros., closing in on a deal to write direct and produce a Batgirl movie.

              It's a somewhat surprising, but welcome move, given that Whedon has taken a long break to write something original, but has now pivoted to focus on developing the Batgirl project. First appearing in 1967 in Gardner Fox and Carmine Infantino's story run The Million Dollar Debut Of Batgirl, she's the superhero alias of Barbara Gordon, daughter of Gotham City Police Commissioner James Gordon. So we can likely expect J.K. Simmons' take on Gordon to appear along with other Bat-related characters.

              Based on Lissa Evans’ novel “Their Finest Hour and a Half” and directed by Lone Scherfig (“An Education”), the film is set in London during World War II when the British ministry was utilizing propaganda films to boost morale. Arterton plays Catrin Cole, a scriptwriter who is brought on to handle the women’s dialogue — commonly referred to as “the nausea.” The film, opening this week, features an outstanding ensemble, including Bill Nighy as a washed-up actor and Sam Claflin as Catrin’s fellow writer and sparring partner.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8">
            <p>Arterton is next set to play Vita Sackville-West in Vita and Virginia about her relationship with Virginia Woolf. She spoke to Variety about working with female directors, remarkable women, and why she shies away from the term “strong female character.”
              I’m friends with the producer who I worked with on Byzantium and he sent it to me. I read the book as well, which is fantastic. You’re always looking for untold stories and many times they’re women’s stories. What surprised me is that it centers around a woman who’s really quite timid. I guess she’s allowed to be because all of the other characters. </p>
          </div>
          <div class="col-lg-4">
            <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512466003/divorced_aujiwb.jpg" alt="Pic">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <p>Nollywood actress, Faithia Williams in an exclusive interview with Broadway TV silenced the rumors surrounding her divorce with ex-husband, Saheed Balogun after headline news initially reported that her divorce had been finalised. Watch the video below</p>
          </div>
          <div class="col-lg-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Fm0VdWatghc" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="row md-form mt-md-5">
            <div class="row col-lg-12">

              <p>Share It</p>
              <!--Facebook-->
              <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

              <!--Twitter-->
              <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

              <!--Instagram-->
              <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

              <a class="icons-sm ins-ic"><i class="fa fa-thumbs-o-up" aria-hidden="true"><span><h6><span class="badge red">40k</span></h6></span></i></a>

              <a class="icons-sm ins-ic"><i class="fa fa-eye" aria-hidden="true"><span><h6><span class="badge blue">4k</span></h6></span></i></a>
            </div>

            <div class="row col-lg-12">
              <textarea mdbActive type="text" id="form7" class="md-textarea"></textarea>
              <label for="form7">Comment</label>
              <button type="button" class="btn btn-elegant waves-light" mdbRippleRadius>Comment</button>
            </div>
            <div class="row col-lg-12">

              <!--Main wrapper-->
              <div class="comments-list text-left">
                <div class="section-heading">
                  <h3>Comments <span class="badge black">3</span></h3>
                </div>
                <!--First row-->
                <div class="row">
                  <!--Image column-->
                  <div class="col-sm-2 col-12">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515413070/jenniferEnujiugha_egta4y.jpg">
                  </div>
                  <!--/.Image column-->
                  <!--Content column-->
                  <div class="col-sm-10 col-12">
                    <a><h6 class="user-name">Jennifer Enujiugha</h6></a>
                    <div class="card-data">
                      <ul class="pl-0">
                        <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                      </ul>
                    </div>
                    <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                  </div>
                  <!--/.Content column-->
                </div>
                <!--/.First row-->
                <!--Second row-->
                <div class="row">
                  <!--Image column-->
                  <div class="col-sm-2 col-12">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515413072/IkDome_u31wcm.jpg">
                  </div>
                  <!--/.Image column-->
                  <!--Content column-->
                  <div class="col-sm-10 col-12">
                    <a><h6 class="user-name">IK Dome</h6></a>
                    <div class="card-data">
                      <ul class="pl-0">
                        <li class="comment-date"><i class="fa fa-clock-o"></i> 08/10/2015</li>
                      </ul>
                    </div>
                    <p class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
                  </div>
                  <!--/.Content column-->
                </div>
                <!--/.Second row-->
                <!--Third row-->
                <div class="row">
                  <!--Image column-->
                  <div class="col-sm-2 col-12">
                    <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515413071/ChinenyeUzoma_g8n9dh.jpg">
                  </div>
                  <!--/.Image column-->
                  <!--Content column-->
                  <div class="col-sm-10 col-12">
                    <a><h6 class="user-name">Chinenye Uzoma</h6></a>
                    <div class="card-data">
                      <ul class="pl-0">
                        <li class="comment-date"><i class="fa fa-clock-o"></i> 17/10/2015</li>
                      </ul>
                    </div>
                    <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia.
                    </p>
                  </div>
                  <!--/.Content column-->
                </div>
                <!--/.Third row-->
              </div>
              <!--/.Main wrapper-->
            </div>
          </div>


        </div>
      </div>

    </div>


    <div class="col-lg-4" style="padding-left: 100px; margin-top: 50px;">
      <div class="col-lg-12">
        <div class="row ">
          <div class="col-lg-12">
            <h5>Search</h5>
            <hr>
            <div class="md-form">
              <input mdbActive type="text" id="form1" class="form-control">
              <label for="form1" class="">Keyword</label>
            </div>
          </div>
        </div>


        <div class="row" style="margin-top: 50px">
          <div class="col-lg-12">
            <h5>Categories</h5>
            <hr>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">Latest News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Celebrities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Lifestyle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Gossip</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Movies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Music</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Wedding & Pre-Wedding</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row" style="margin-top: 50px;">
          <div class="col-lg-12">
            <h5>Latest News</h5>
            <hr>
            <ul class="nav flex-column">
              <li class="nav-item" style="padding-bottom: 20px;">
                <a class="nav-link" href="#">Denrele goes all out anticipating 2018</a>
              </li>
              <li class="nav-item" style="padding-bottom: 20px;">
                <a class="nav-link" href="#">Bovi Narrates How His Phone Was Stolen And Recovered</a>
              </li>
              <li class="nav-item" style="padding-bottom: 20px;">
                <a class="nav-link" href="#">Mr 2Kay sues Eko Hotel for N500 Million</a>
              </li>
            </ul>
          </div>
        </div>


        <div class="row" style="margin-top: 50px">
          <div class="col-lg-12">
            <h5>Tags</h5>
            <hr>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <h3><span class="badge black">New</span></h3>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <h3><span class="badge black">New</span></h3>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <h3><span class="badge black">New</span></h3>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <h3><span class="badge black">New</span></h3>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row" style="margin-top: 50px">
          <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515152460/jumiaAd_lqa9gr.jpg" alt="Chania" style="height: 296px; width: 336px">
        </div>
      </div>
    </div>
  </div>
</div>