<div class="container musicPage">
    <div class="row">
        <div class="col-md-8">
            <h2>DAVIDO - FIA</h2>
            <div><hr></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 uploadPic">
                                <img class="img-fluid rounded-circle" src="../../assets/pictures/vic.JPG" alt="Uploader">
                            </div>
                            <div class="col-md-8">
                                <p>Oluwole Victor</p>
                                <p>Time of Upload</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-thumbs-o-up" aria-hidden="true"><spam> 50</spam></i></button>
                        <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-thumbs-o-down" aria-hidden="true"><span> 2</span></i></button>
                    </div>
                </div>
            <div><hr></div>
            <div class="row">
                <div class="col-md-6 artistPic">
                    <img class="img-fluid animated fadeIn" src="../../assets/pictures/davidoFia.jpg" alt="Davido">
                    <audio controls>
                        <source src="../../assets/music/NaijMP3.Com_Davido_Fia.mp3" type="audio/mpeg">
                    </audio>
                </div>
                <div class="col-md-6">
                    <h2>Davido - FIA</h2>
                    <div><hr></div>
                    <div><hr></div>
                    <p>While we are as yet sitting tight quietly for DMW Boss pending Album, Davido slices out another club hitter singled titled “FIA”, Not “Fire”, The single is prepared out once again off his anticipated Studio Album which the slated date for discharge is obscure.
                        The ensemble to the new Davido Single which goes as “FIA, Fire Burn Them” is a dancehall artist and it’s sending your foots immediately to the move floor after downloading, “FIA” by Davido ascended after the leeway of Davido’s murder affirmations.
                        “FIA” by Davido has come to stay, Stream and Share the new Davido Music “FIA”, Drop your remarks behind.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--Facebook-->
                    <a type="button" class="btn-floating btn-large btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>

                    <!--Twitter-->
                    <a type="button" class="btn-floating btn-large btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"></i></a>

                    <!--Instagram-->
                    <a type="button" class="btn-floating btn-large btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form mt-md-5">
                        <textarea mdbActive type="text" id="form7" class="md-textarea"></textarea>
                        <label for="form7">Comment</label>
                        <button type="button" class="btn btn-elegant waves-light" mdbRippleRadius>Comment</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-md-5">
            <h2>Latest News</h2>
            <div><hr></div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-fluid view" src="../../assets/pictures/divorced.jpg" alt="Chania" style="height: 50px; width: auto">
                            </div>
                            <div class="col-md-7">
                                <p>News</p>
                                <p>We are not officially divorced</p>
                            </div>
                        </div>
                    </a>
                </li>
                <div><hr></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-fluid" src="../../assets/pictures/bovi.png" alt="Chania" style="height: 50px; width: auto">
                            </div>
                            <div class="col-md-7">
                                <p>News</p>
                                <p>Bovi Narrates How His Phone Was Stolen And Recovered</p>
                            </div>
                        </div>
                    </a>
                </li>
                <div><hr></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-fluid" src="../../assets/pictures/kay.jpg" alt="Chania" style="height: 50px; width: auto">
                            </div>
                            <div class="col-md-7">
                                <p>News</p>
                                <p>Mr 2Kay sues Eko Hotel for N500 Million</p>
                            </div>
                        </div>
                    </a>
                </li>
                <div><hr></div>
            </ul>
        </div>
    </div>
</div>