<div style="background-image: url(http://res.cloudinary.com/sammiestarks/image/upload/v1515062037/nigerian-artist-poster_nzraba.jpg);  height: 400px; width: 100%; margin: 0; padding: 0; color: white">
    <div class="container">
        <div class="search-container mt-md-1">
            <div class="container">
                <div class="row mx-auto search-box">
                    <div class="col-md-2 search-tag" style="margin-top:0.2em;"><a href="" style="color:white; ">SEARCH</a> </div>
                    <div class="col-md-10 ">
                        <form style="margin-left:-2em;" class="form-inline  waves-light" mdbRippleRadius>
                            <input class="form-control col-sm-8  col-lg-12" type="text" placeholder="Search for news, videos and music or a celebrity that you are looking for">
                            <i class="fa fa-search col-sm-1 " aria-hidden="true"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="headers">Song Detail</h1>
    </div>
</div>


<div class="container musicPage">
    <div class="row">
        <div class="col-md-8">
            <h2>DAVIDO - FIA</h2>
            <div><hr></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 uploadPic">
                                <img class="img-fluid rounded-circle" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463066/vic_gizqic.jpg" alt="Uploader">
                            </div>
                            <div class="col-md-8">
                                <p>Oluwole Victor</p>
                                <p>Time of Upload</p>
                            </div>
                        </div>
                    </div>
                   <!-- <div class="col-md-6">
                        <button type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-thumbs-o-up" aria-hidden="true"><spam> 50</spam></i></button>
                        <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-thumbs-o-down" aria-hidden="true"><span> 2</span></i></button>
                    </div>-->
                </div>
            <div><hr></div>
            <div class="row">
                <div class="col-md-6 artistPic">
                    <img class="img-fluid animated fadeIn" src="http://res.cloudinary.com/sammiestarks/image/upload/v1512463060/davidoFia_sy9fh9.jpg" alt="Davido">
                    <audio controls>
                        <source src="../../assets/music/NaijMP3.Com_Davido_Fia.mp3" type="audio/mpeg">
                    </audio>
                </div>
                <div class="col-md-6">
                    <h2>Davido - FIA</h2>
                    <div><hr></div>
                    <div><hr></div>
                    <p>While we are as yet sitting tight quietly for DMW Boss pending Album, Davido slices out another club hitter singled titled “FIA”, Not “Fire”, The single is prepared out once again off his anticipated Studio Album which the slated date for discharge is obscure.
                        The ensemble to the new Davido Single which goes as “FIA, Fire Burn Them” is a dancehall artist and it’s sending your foots immediately to the move floor after downloading, “FIA” by Davido ascended after the leeway of Davido’s murder affirmations.
                        “FIA” by Davido has come to stay, Stream and Share the new Davido Music “FIA”, Drop your remarks behind.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="row col-lg-12">

                            <p>Share It</p>
                            <!--Facebook-->
                            <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>

                            <!--Twitter-->
                            <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>

                            <!--Instagram-->
                            <a class="icons-sm ins-ic"><i class="fa fa-instagram"></i></a>

                            <a class="icons-sm ins-ic"><i class="fa fa-thumbs-o-up" aria-hidden="true"><span><h6><span class="badge red">40k</span></h6></span></i></a>

                            <a class="icons-sm ins-ic"><i class="fa fa-eye" aria-hidden="true"><span><h6><span class="badge blue">4k</span></h6></span></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form mt-md-5">
                        <textarea mdbActive type="text" id="form7" class="md-textarea"></textarea>
                        <label for="form7">Comment</label>
                        <button type="button" class="btn btn-elegant waves-light" mdbRippleRadius>Comment</button>
                    </div>
                </div>
            </div>


            <div class="row col-lg-12">

                <!--Main wrapper-->
                <div class="comments-list text-left">
                    <div class="section-heading">
                        <h3>Comments <span class="badge black">3</span></h3>
                    </div>
                    <!--First row-->
                    <div class="row">
                        <!--Image column-->
                        <div class="col-sm-2 col-12">
                            <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515413070/jenniferEnujiugha_egta4y.jpg">
                        </div>
                        <!--/.Image column-->
                        <!--Content column-->
                        <div class="col-sm-10 col-12">
                            <a><h3 class="user-name">Jennifer Enujiugha</h3></a>
                            <div class="card-data">
                                <ul class="pl-0">
                                    <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                                </ul>
                            </div>
                            <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        </div>
                        <!--/.Content column-->
                    </div>
                    <!--/.First row-->
                    <!--Second row-->
                    <div class="row">
                        <!--Image column-->
                        <div class="col-sm-2 col-12">
                            <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515413072/IkDome_u31wcm.jpg">
                        </div>
                        <!--/.Image column-->
                        <!--Content column-->
                        <div class="col-sm-10 col-12">
                            <a><h3 class="user-name">IK Dome</h3></a>
                            <div class="card-data">
                                <ul class="pl-0">
                                    <li class="comment-date"><i class="fa fa-clock-o"></i> 08/10/2015</li>
                                </ul>
                            </div>
                            <p class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
                        </div>
                        <!--/.Content column-->
                    </div>
                    <!--/.Second row-->
                    <!--Third row-->
                    <div class="row">
                        <!--Image column-->
                        <div class="col-sm-2 col-12">
                            <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515413071/ChinenyeUzoma_g8n9dh.jpg">
                        </div>
                        <!--/.Image column-->
                        <!--Content column-->
                        <div class="col-sm-10 col-12">
                            <a><h3 class="user-name">Chinenye Uzoma</h3></a>
                            <div class="card-data">
                                <ul class="pl-0">
                                    <li class="comment-date"><i class="fa fa-clock-o"></i> 17/10/2015</li>
                                </ul>
                            </div>
                            <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia.
                            </p>
                        </div>
                        <!--/.Content column-->
                    </div>
                    <!--/.Third row-->
                </div>
                <!--/.Main wrapper-->
            </div>

        </div>


        <div class="col-lg-4" style="padding-left: 100px; margin-top: 50px;">
            <div class="col-lg-12">
                <div class="row ">
                    <div class="col-lg-12">
                        <h5>Search</h5>
                        <hr>
                        <div class="md-form">
                            <input mdbActive type="text" id="form1" class="form-control">
                            <label for="form1" class="">Keyword</label>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top: 50px;">
                    <div class="col-lg-12">
                        <h5>Latest Songs</h5>
                        <hr>
                        <ul class="nav flex-column">
                            <li class="nav-item" style="padding-bottom: 20px;">
                                <a class="nav-link" href="#">Wizkid - Manya</a>
                            </li>
                            <li class="nav-item" style="padding-bottom: 20px;">
                                <a class="nav-link" href="#">Falz - La Fete</a>
                            </li>
                            <li class="nav-item" style="padding-bottom: 20px;">
                                <a class="nav-link" href="#">Olamide - WO</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="row" style="margin-top: 50px">
                    <div class="col-lg-12">
                        <h5>Tags</h5>
                        <hr>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <h3><span class="badge black">New</span></h3>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <h3><span class="badge black">New</span></h3>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <h3><span class="badge black">New</span></h3>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <h3><span class="badge black">New</span></h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row" style="margin-top: 50px">
                    <img class="img-fluid" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515152460/jumiaAd_lqa9gr.jpg" alt="Chania" style="height: 296px; width: 336px">
                </div>
            </div>
        </div>
    </div>
</div>