<div class="base-main">
    <div class="search-container">
        <div class="mx-auto search-box">
            <form class="form-inline  waves-light" mdbRippleRadius>
                <input class="form-control col-sm-8  col-lg-10" type="text" placeholder="Search for news, videos and music">
                <i class="fa fa-search col-lg-1 col-sm-1" aria-hidden="true"></i>
            </form>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-9">

        </div>
        <div class="col-lg-3 main-socials mt-3 float-right">
            <span styele="font-weight:800;">
                    FOLLOW US:
                  </span>
            <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i>
            <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i>
        </div>


    </div>

    <div class="container main-carousel">
        <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">

            <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
                <a [routerLink]="[ '/song/' ]">
                    <img src="{{Tile}}" height="350px" width="100%" />
                </a>
            </ngx-tile>

            <button NgxCarouselPrev class='leftRs'>&lt;</button>
            <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>
    </div>
</div>






<app-music-home>
</app-music-home>