
<div class="fixed-bottom " [ngClass]="(this.maxPlayer===true)?'player-container':'min-player'">
        <div style="" class="rounded ">
                <i style="cursor:pointer;" class="fa fa-chevron-up float-left fa-2x green black-text px-2 py-2" (click)="togglePlayer()"></i> 
                <p class="white-text float-left mt-3 mx-5 ">The Instrumentals for Davidos new Song  ...Playing 
                        <i class="fa fa-music ml-3" aria-hidden="true"></i>
                </p>
            </div>
    <vg-player style="height: 50px;">
        <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
    
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
    
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
    
            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
    
            <vg-mute></vg-mute>
    
            <vg-fullscreen></vg-fullscreen>
        </vg-controls>
    
        <audio #media [vgMedia]="media" id="myAudio" preload="auto">
            <source *ngFor="let audio of sources" [src]="audio.src" [type]="audio.type">
        </audio>
    </vg-player>
 
</div>
