.main-socials{
    margin-left: -4em;
}
.main-socials i{
    margin-left: -0.1em;
}

.main-news-row div{
    margin-bottom:20px;
    margin-top: 20px;

}

.main-news-row img{
    height: 250px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

.side-news img{
    width: 20px;
    height: 20px;


}

.side-news h2{

}