
  <!--Card Light-->
  <div class="search-container" >
      <div class="mx-auto search-box">
        <form class="form-inline  waves-light" mdbRippleRadius>
          <input class="form-control col-sm-8  col-lg-10" type="text" placeholder="Search for news, videos and music">
          <i class="fa fa-search col-lg-1 col-sm-1" aria-hidden="true"></i>
        </form>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-lg-9">
    
      </div>
      <div class="col-lg-3 main-socials mt-3 float-right">
        <span styele="font-weight:800;">
          FOLLOW US:
        </span>
        <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i>
      </div>
    
    
    </div>
<div class="row border">
  <div class="col-md-8 ml-md-5">
    <div class="row main-news-row">
<div class="col-md-4  ">
          <div class="card ">
              
                  <!--Card image-->
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
              
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
                  </div>
              
              </div>
      </div>
      
      <div class="col-md-4">
          <div class="card ">
              
                  <!--Card image-->
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
              
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
                  </div>
              
              </div>
      </div>
      <div class="col-md-4">
          <div class="card ">
              
                  <!--Card image-->
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
              
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
                  </div>
              
              </div>
      </div>

      <div class="col-md-4">
          <div class="card ">
              
                  <!--Card image-->
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
              
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
                  </div>
              
              </div>
      </div>
      <div class="col-md-4">
          <div class="card ">
              
                  <!--Card image-->
                  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
              
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
                  </div>
              
              </div>
      </div>
     
      
      
     
  </div>
  <div class="col-md-3 border">

  </div>
</div>
    