<div class="music-main ml-md-5">
    <div class="row mt-5 ">
        <div class="col-lg-8 ml-5">
            <h4 class="ml-3 mt-4">
                Music
            </h4>
        </div>
        <div class="col-md-8 home-components-layout">
            <ul class="nav NewsNav">
                <li class="nav-item">
                    <a class="nav-link active hoverable" href="#">Hot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hoverable" href="#">Trending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hoverable" href="#">View All</a>
                </li>
            </ul>

            <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">

                <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
                    <img src="{{Tile}}" height="200px" width="100%" />
                </ngx-tile>

                <button NgxCarouselPrev class='leftRs'>&lt;</button>
                <button NgxCarouselNext class='rightRs'>&gt;</button>
            </ngx-carousel>
        </div>
    </div>

</div>