<div class="" style="margin-top: 100px; width:100%; padding: 0; margin-bottom: 50px">

  <!--Carousel Wrapper-->
  <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" >
    <!--First slide-->
    <mdb-slide>
      <img class="d-block w-100 animated slideInDown" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075128/BANKYwide_xahqg0.jpg" alt="First slide">
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <img class="d-block w-100 animated slideInLeft" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075132/banky-w-adesuawide_bltamv.jpg" alt="Second slide">
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <img class="d-block w-100 animated slideInRight" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075129/Banky-W-adesua-etomi-Introduction-3wide_fqqw4j.jpg" alt="Third slide">
    </mdb-slide>
    <!--/Third slide-->
    <mdb-slide>
      <img class="d-block w-100 animated slideInUp" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075129/BAADBAADDwide_e2sky1.jpg" alt="Third slide">
    </mdb-slide>
    <mdb-slide>
      <img class="d-block w-100 animated wobble" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075128/BAAD2017-2wide_dj8qju.jpg" alt="Third slide">
    </mdb-slide>
    <mdb-slide>
      <img class="d-block w-100 animated bounce" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515076152/banky9_kuuwm4.jpg" alt="Third slide">
    </mdb-slide>
    <mdb-slide>
      <img class="d-block w-100 animated rubberBand" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075818/BAAD2017-Banky-W-Adesua-Etomi-Traditional-Wedding-Reception-wide_mhzmcs.jpg" alt="First slide">
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <img class="d-block w-100 animated shake" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075821/Banky-W-and-Adesua-Etomi-flanked-by-Osas-Ajibade-and-a-friendwide_hbwhla.jpg" alt="Second slide">
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <img class="d-block w-100 animated pulse" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515076144/Banky-W-and-Adesuwa-Wedding-The-Bride-and-her-maids_klqgn4.jpg" alt="Third slide">
    </mdb-slide>
    <!--/Third slide-->
    <mdb-slide>
      <img class="d-block w-100 animated jello" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075818/BAAD2017-Banky-W-Adesua-Etomi-Traditional-Wedding-Reception-wide_mhzmcs.jpg" alt="Third slide">
    </mdb-slide>
  </mdb-carousel>
  <!--/.Carousel Wrapper-->

  <div class="row mainPage" style="padding: 50px;">
    <div class="col-lg-8">
        <h3>Latest Events</h3>
      <hr>
      <br>
      <div class="row">
        <div class="col-lg-4"><p> <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515676399/obo_vptpjm.jpg" class="rounded img-fluid" alt="Cinque Terre"> </p></div>
        <div class="col-lg-8 rounded" style="background-color: black; color: white;">
          <h3>30 Billion Concert</h3>
          <br>
          <p>The much-anticipated concert which held at Eko Hotel and Suites, on Wednesday, December 27, is recorded as the biggest music concert of the year as it thrilled fans across Lagos State and beyond, with the hashtag #30BillionConcert trending in two major continents; United Kingdom and United States.</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4"><p> <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515675696/wizkidevent_pm54qy.jpg" class="rounded img-fluid" alt="Cinque Terre"> </p></div>
        <div class="col-lg-8 rounded" style="background-color: black; color: white;">
          <h3>Wizkid Concert</h3>
          <br>
          <p>December is here again and your favorite superstars have flown home to roost. Wizkid, Africa biggest Afropop star is coming to  the Eko Hotel Convention Center.Lagos.

            The show is powered by UBA and Pepsi with tickets being sold on Flytimettv.com.</p>
          <p>December is here again and your favorite superstars have flown home to roost. Wizkid, Africa biggest Afropop star is coming to  the Eko Hotel Convention Center.Lagos.

            The show is powered by UBA and Pepsi with tickets being sold on Flytimettv.com.</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4"><p> <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515675696/falzevent_kbdyxa.jpg" class="rounded img-fluid" alt="Cinque Terre"> </p></div>
        <div class="col-lg-8 rounded" style="background-color: black; color: white;">
          <h3>The Falz Experience</h3>
          <br>
          <p>Nigerian rap artist, Folarin Falana a.k.a Falz, has held his first headline concert in Lagos.

            Tagged ‘The Falz Experience’, the event took place on the Wednesday, December 20, at the Eko Convention Center, Eko Hotels & Suites.

            Top Nigerian acts like Simi, Yemi Alade, Davido, Reekado Banks, Wande Coal, Ycee, were among those who performed at the show.</p>
        </div>
      </div>
      <br>
      <!--Pagination dark-->
      <div class="row">
        <nav>
          <ul class="pagination pg-dark pagination-lg">
            <!--Arrow left-->
            <li class="page-item">
              <a class="page-link" mdbRippleRadius aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <!--Numbers-->
            <li class="page-item active"><a class="page-link" mdbRippleRadius>1</a></li>
            <li class="page-item"><a class="page-link" mdbRippleRadius>2</a></li>
            <li class="page-item"><a class="page-link" mdbRippleRadius>3</a></li>
            <li class="page-item"><a class="page-link" mdbRippleRadius>4</a></li>
            <li class="page-item"><a class="page-link" mdbRippleRadius>5</a></li>

            <!--Arrow right-->
            <li class="page-item">
              <a class="page-link" mdbRippleRadius aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <!--/Pagination dark-->
      </div>
    </div>
    <div class="col-lg-4" style="padding: 50px;">
      <div class="container">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515682411/ad4_rfsdmj.gif" class="img-fluid" alt="Cinque Terre" style="height: 180px; width: 300px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515682390/ad1_nvolwe.jpg" class="img-fluid" alt="Cinque Terre" style="height: 180px; width: 300px;"> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515682389/ad2_wkp3xq.jpg" class="img-fluid" alt="Cinque Terre" style="height: 180px; width: 300px;"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515682374/ad3_mewrvm.jpg" class="img-fluid" alt="Cinque Terre" style="height: 180px; width: 300px;"> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="http://res.cloudinary.com/sammiestarks/image/upload/v1515682372/ad5_vlj6zu.jpg" class="img-fluid" alt="Cinque Terre" style="height: 180px; width: 300px;"></a>
          </li>
        </ul>
      </div>
    </div>
    <div></div>
  </div>

</div>

