<div class="" style="margin-top: 100px; width:100%; padding: 0; margin-bottom: 50px">

  <!--Carousel Wrapper-->
  <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" >
    <!--First slide-->
    <mdb-slide>
      <img class="d-block w-100 animated slideInDown" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075128/BANKYwide_xahqg0.jpg" alt="First slide">
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <img class="d-block w-100 animated slideInLeft" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075132/banky-w-adesuawide_bltamv.jpg" alt="Second slide">
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <img class="d-block w-100 animated slideInRight" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075129/Banky-W-adesua-etomi-Introduction-3wide_fqqw4j.jpg" alt="Third slide">
    </mdb-slide>
    <!--/Third slide-->
    <mdb-slide>
      <img class="d-block w-100 animated slideInUp" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075129/BAADBAADDwide_e2sky1.jpg" alt="Third slide">
    </mdb-slide>
    <mdb-slide>
      <img class="d-block w-100 animated wobble" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075128/BAAD2017-2wide_dj8qju.jpg" alt="Third slide">
    </mdb-slide>
    <mdb-slide>
      <img class="d-block w-100 animated bounce" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515076152/banky9_kuuwm4.jpg" alt="Third slide">
    </mdb-slide>
    <mdb-slide>
      <img class="d-block w-100 animated rubberBand" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075818/BAAD2017-Banky-W-Adesua-Etomi-Traditional-Wedding-Reception-wide_mhzmcs.jpg" alt="First slide">
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <img class="d-block w-100 animated shake" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075821/Banky-W-and-Adesua-Etomi-flanked-by-Osas-Ajibade-and-a-friendwide_hbwhla.jpg" alt="Second slide">
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <img class="d-block w-100 animated pulse" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515076144/Banky-W-and-Adesuwa-Wedding-The-Bride-and-her-maids_klqgn4.jpg" alt="Third slide">
    </mdb-slide>
    <!--/Third slide-->
    <mdb-slide>
      <img class="d-block w-100 animated jello" src="http://res.cloudinary.com/sammiestarks/image/upload/v1515075818/BAAD2017-Banky-W-Adesua-Etomi-Traditional-Wedding-Reception-wide_mhzmcs.jpg" alt="Third slide">
    </mdb-slide>
  </mdb-carousel>
  <!--/.Carousel Wrapper-->

  <div class="row mainPage">
    <div class="col-lg-8">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">Pic</div>
          <div class="col-lg-8">Content</div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="container">
        <h2>Ads</h2>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
    <div></div>
  </div>

</div>

